
<!--==================================================-->
<!--Start Carousel Slider Section-->
<!--===================================================-->
<div class="slider-area style-five d-flex align-items-center" id="home">
<video class="lazy-video" src="../../../minner/../../../minner/assets/images/video.mp4" autoplay="" muted="" loop="" playsinline="" poster="#"></video> 
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
            <div class="slider-content">
                <h4 class="wow fadeInUp" data-wow-delay=".2s"> <span class="other">$</span>La mejor manera de obtener ingresos</h4>
                <h1 class="wow fadeInUp" data-wow-delay=".4s">Haz tu <span>Transacción</span> Cripto</h1>
                <p class="wow fadeInUp" data-wow-delay=".6s">Comienza a minar ya, compra poder de minado con nosotros e invierte en bitcoin de la mejor manera</p>
                <div class="slider-button wow fadeInUp" data-wow-delay=".8s">
                    <a href="#"> <i class="flaticon-play-arrow"> </i>Cómo funciona</a>

                </div>
                <div class="slider-btn wow fadeInUp" data-wow-delay=".9s">
                    <a href="#"> <i class="flaticon-file"> </i> White Papers</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="slider-thumb">
                <img src="../../../minner/../../../minner/assets/images/banner/one.png" alt="">
                <div class="hero-shape rotatemeTwo">
                    <img src="../../../minner/../../../minner/assets/images/banner/five.png" alt="">
                </div>
                <div class="hero-shape3 rotateme">
                    <img src="../../../minner/../../../minner/assets/images/banner/two.png" alt="">
                </div>
                <div class="hero-shape4">
                    <img src="../../../minner/../../../minner/assets/images/new/two.png" alt="">
                </div>
                <div class="hero-shape5">
                    <img src="../../../minner/../../../minner/assets/images/new/three.png" alt="">
                </div>
                <div class="hero-shape7 bounce-animate2">
                    <img src="../../../minner/../../../minner/assets/images/new/four.png" alt="">
                </div>
                <div class="hero-shape8">
                    <img src="../../../minner/../../../minner/assets/images/new/nine.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="shape-one bounce-animate3">
        <img src="../../../minner/../../../minner/assets/images/banner/four.png" alt="">
    </div>
</div>
</div>


<!-- token -section -->
<div class="token-section style-four pt-50 pb-80">
	<div class="container">
		<div class="row pt-10">
			<div class="col-lg-2 col-md-5">
				<div class="single-token-box">
					<div class="token-thumb">
						<img style="width:100%" src="../../../minner/assets/images/new/innosilicon.png" alt="">
					</div>
					<div class="token-content">
						<div class="token-btn">
							<a href="#"><i class="flaticon-checked"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-5">
				<div class="single-token-box">
					<div class="token-thumb">
						<img style="width:100%" src="../../../minner/assets/images/new/BITMAIN.png" alt="">
					</div>
					<div class="token-content">
						<div class="token-btn">
							<a href="#"><i class="flaticon-checked"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-5">
				<div class="single-token-box">
					<div class="token-thumb">
						<img style="width:100%" src="../../../minner/assets/images/new/btc.png" alt="">
					</div>
					<div class="token-content">
						<div class="token-btn">
							<a href="#"><i class="flaticon-checked"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-5">
				<div class="single-token-box">
					<div class="token-thumb">
						<img style="width:100%" src="../../../minner/assets/images/new/digitalassets.png" alt="">
					</div>
					<div class="token-content">
						<div class="token-btn">
							<a href="#"><i class="flaticon-checked"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-5">
				<div class="single-token-box">
					<div class="token-thumb">
						<img style="width:100%" src="../../../minner/assets/images/new/whatsminer.png" alt="">
					</div>
					<div class="token-content">
						<div class="token-btn">
							<a href="#"><i class="flaticon-checked"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="single-token-box">
					<div class="token-thumb">
						<img style="width:100%" src="../../../minner/assets/images/new/slush_pool.png" alt="">
					</div>
					<div class="token-content">
						<div class="token-btn">
							<a href="#"><i class="flaticon-checked"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- about section -->
<div class="about-section style-three pt-100 pb-50" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title two text-center pb-20">
					<div class="dreamit-section-sub-title">
						<h5> <img src="../../../minner/../../../minner/assets/images/new/title-img.png" alt="">  Quienes somos</h5>
					</div>
					<div class="dreamit-section-main-title">
						<h1>Quienes somos</h1>
					</div>
					<div class="dreamit-section-content-text">
						<p>Somos uno de los mejores proveedores de potencia de minado en Norte America. y una de las compañías más competitivas del mercado, gracias a la ubicación estratégica de nuestras granjas en Venezuela siendo este el país con el costo de electricidad más económicos a nivel mundial. dandonos la posibilidad de dar los mejores rendimientos a nuestros clientes.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-30 align-items-center">
			<div class="col-lg-6 col-md-6">
				<div class="about-box">
					<div class="about-thumb">
						<img src="../../../minner/../../../minner/assets/images/new/about.png" alt="">
						<div class="about-shape">
							<img src="../../../minner/../../../minner/assets/images/new/about-shape.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="about-single-icon-box d-flex">
					<div class="about-icon-thumb">
						<img src="../../../minner/../../../minner/assets/images/new/icon.png" alt="">
					</div>
					<div class="about-content">
						<h2>Visión</h2>
						<p>Nuestros esfuerzos se encaminan a una meta clara: construir el poder de procesamiento de datos más grande de toda Latinoamérica, contribuyendo a la expansión digital de las comunidades y al uso de la tecnología blockchain.</p>
					</div>
				</div>
				<div class="about-single-icon-box d-flex">
					<div class="about-icon-thumb">
						<img src="../../../minner/../../../minner/assets/images/new/icon2.png" alt="">
					</div>
					<div class="about-content">
						<h2>Misión</h2>
						<p>Ofrecemos servicios profesionales, personalizados e innovadores para mejorar la calidad de vida de nuestros clientes.</p>
					</div>
				</div>
				<div class="about-single-icon-box d-flex">
					<div class="about-icon-thumb">
						<img src="../../../minner/../../../minner/assets/images/new/icon3.png" alt="">
					</div>
					<div class="about-content">
						<h2>Balance Transfer</h2>
						<p>Continually pontificate corporate deliverables through 
						clicks-and-mortar intellectual.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="about-shape-one bounce-animate2">
			<img src="../../../minner/../../../minner/assets/images/new/round.png" alt="">
		</div>
	</div>
</div>


<!-- start blog section -->
<div class="blog-section style-two pt-95 pb-50" id="blog">
	<div class="container">
		<div class="row pt-30">


			<div class="col-lg-4 col-md-6 ">
				<div class="single-blog-box">
					<div class="blog-thumb">
						<img src="../../../minner/assets/images/new/Bitcoin.png" alt="">
					</div>
					<div class="blog-content">
						<div class="blog-title">
							<a href="#"><h2>¿Qué es bitcoin?</h2></a>
						</div>
						<div class="blog-content-text">
						<p style="text-align:justify;">El bitcoin (BTC) es una criptomoneda, es decir, una moneda virtual, que se guarda en una billetera digital en tu computador o tu celular. Usando tu billetera digital puedes enviar, recibir, comprar o vender bitcoins y adquirir con éstos productos y servicios.</p>
					    </div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 ">
				<div class="single-blog-box">
					<div class="blog-thumb">
						<img src="../../../minner/assets/images/new/mining.png" alt="">
					</div>
					<div class="blog-content">
						<div class="blog-title">
							<a href="#"><h2>¿Que es la minería en la nube de criptomonedas?</h2></a>
						</div>
						<div class="blog-content-text">
						<p style="text-align:justify;">La minería en la nube es un servicio que ofrecemos para que puedas obtener de forma fácil y segura tus Bitcoin, sin la necesidad de tu compra un equipo de minería, no necesitas saber de como funciona un equipo de mineria nosotros alojamos tu equipo en nuestras instalaciones y tú desde tu panel de control podrás observar el rendimiento diario de tu minero.</p>
					    </div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 ">
				<div class="single-blog-box">
					<div class="blog-thumb">
						<img src="../../../minner/assets/images/new/mining.png" alt="">
					</div>
					<div class="blog-content">
						<div class="blog-title">
							<a href="#"><h2>¿Porque elegirnos?</h2></a>
						</div>
						<div class="blog-content-text">
						<p style="text-align:justify;">Somos la única empresa que te pagara exactamente el rendimiento de lo que produce tu equipo sin cargos adicionales ni comisiones, la cantidad de bitcoin será proporcional a tu poder de minado.</p>
					    </div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
    
<!-- feature section 
<div class="feature-section pt-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="../../../minner/assets/images/new/bit.png" alt="">
					</div>
					<div class="feature-content">
						<span>Bitcoin</span>
						<h3>USD 90,360.50</h3>
						<p>BTC</p>
					</div>
					<div class="shape">
						<img src="../../../minner/assets/images/new/back.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="../../../minner/assets/images/new/bit2.png" alt="">
					</div>
					<div class="feature-content">
						<span>Ethereum</span>
						<h3>USD 630.00</h3>
						<p>ETH</p>
					</div>
					<div class="shape">
						<img src="../../../minner/assets/images/new/back2.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="../../../minner/assets/images/new/bit3.png" alt="">
					</div>
					<div class="feature-content">
						<span>Tether</span>
						<h3>USD 299.08</h3>
						<p>THR</p>
					</div>
					<div class="shape">
						<img src="../../../minner/assets/images/new/back3.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->



<!-- service section -->
<div class="choose-section style-two pt-90 pb-70">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="dreamit-section-title two pb-20">
					<div class="dreamit-section-sub-title">
						<h5> <img src="../../../minner/assets/images/new/title-img.png" alt=""> Trading Platform</h5>
					</div>
					<div class="dreamit-section-main-title">
						<h1>Comienza a minar bitcoins y recibir recompensas diarias con nuestras granjas de minado.</h1>
					</div>
					<div class="dreamit-section-content-text">
						<p>Globally transition ours multidisciplinary applications for bleeding-edge vortals. 
							harness  o ours plug-and-plays networks without stand-alone bandwidth market
						harness competitive channels.</p>
					</div>
					<div class="dreamit-content-text-inner">
						<P>Seamlessly redefine ethical materials through ours high-payoff growth strategie
							appropriately envisioneer robust infrastructures before robust for the
						aynergistically generate B2B alignments after.</P>
					</div>
					<div class="choose-btn">
						<a href="#"><i class="flaticon-plus"></i> Read More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="choose-thumb">
					<img src="../../../minner/assets/images/new/single.png" alt="">
				</div>

			</div>
		</div>

	</div>
</div>


<!-- service section -->
<div class="service-section style-three pt-50 pb-80" id="service">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title two text-center pb-20">
					<div class="dreamit-section-sub-title">
						<h5> <img src="../../../minner/assets/images/new/title-img.png" alt="">  ¿ Porque Nosotros ? </h5>
					</div>
					<div class="dreamit-section-main-title">
						<h1>Ventajas de minar Bitcoins con Minner</h1>
					</div>
					<div class="dreamit-section-content-text">
						<p>Te ofrecemos un servicio de excelente calidad, respaldado por tecnología de última generación, atención al cliente, servicio técnico, seguridad y privacidad.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-40">
			<div class="col-lg-6 col-md-6">
				<div class="single-service-box d-flex">
					<div class="service-thumb">
						<img src="../../../minner/assets/images/choose/choose.png" alt="">
					</div>
					<div class="service-content">
						<h3>Plataforma de última tecnología</h3>
						<p>Desarrolada y diseñada in house para cumplir con todas las necesidades de nuestros clientes. Fácil de usar y muy segura.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="single-service-box d-flex">
					<div class="service-thumb">
						<img src="../../../minner/assets/images/new/dolar2.png" alt="">
					</div>
					<div class="service-content">
						<h3>Precios competitivos</h3>
						<p>Te ofrecemos los mejores precios enérgeticos del continente, para que puedas minar 24/7 a gran velocidad</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="single-service-box d-flex">
					<div class="service-thumb">
						<img src="../../../minner/assets/images/choose/choose2.png" alt="">
					</div>
					<div class="service-content">
						<h3>Recompensas mensuales</h3>
						<p>Gracias a nuestros precios energéticos, nuestros equipos para minado de bitcoins y nuestros packs, podrás optimizar tu inversión y recibir mayores compensas</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="single-service-box d-flex">
					<div class="service-thumb">
						<img src="../../../minner/assets/images/new/bit.png" alt="">
					</div>
					<div class="service-content">
						<h3>Recibe mensualmente tus Bitcoins</h3>
						<p>Puedes ingresar en el momento que quieras a nuestra plataforma para clientes e informarte diariamente de cuánto has minado. Además, puedes retirar tu recompensa en bitcoins por minería mensualmente.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="single-service-box d-flex">
					<div class="service-thumb">
						<img src="../../../minner/assets/images/choose/choose4.png" alt="">
					</div>
					<div class="service-content">
						<h3>Segura y privada</h3>
						<p>Valoramos tu privacidad, por eso te pedimos únicamente los datos y la información necesaria para cumplir con los requisitos legales.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="single-service-box d-flex">
					<div class="service-thumb">
						<img src="../../../minner/assets/images/choose/choose3.png" alt="">
					</div>
					<div class="service-content">
						<h3>Excelente servicio técnico</h3>
						<p>Te ofrecemos un extraordinario servicio técnico y un excelente servicio de atención al cliente. Siempre prestos a resolver tus peticiones en el menor tiempo posible.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
