<div class="py672 content-wrapper">
    <div class="content-body">
        <!-- Error page-->
        <div class="misc-wrapper">
            <div class="misc-inner p-2 p-sm-3 pt-lg-2 pb-lg-0">
                <div class="w-100 position-relative">
                    <a href="/py672/PYT-672" class="d-none d-lg-block navbar-brand position-absolute top-0 left-0">
                        <img class="img-fluid brand-logo m-0" src="../../../app-assets/images/py672/logo.png" alt="Academia Americana" title="Academia Americana">
                    </a>
                    <div class="text-center">
                        <h2 class="mb-1">Página no encontrada</h2>
                        <p class="mb-2">Oops! La URL solicitada no se encontró en este servidor.</p>
                        <a class="btn btn-primary mb-2 btn-sm-block waves-effect waves-float waves-light" href="/grupos/PYT-672">De vuelta al inicio</a>
                    </div>
                    <img class="img-fluid d-block mx-auto" src="../../../app-assets/images/pages/error.svg" alt="Error 404">
                </div>
            </div>
        </div>
        <!-- / Error page-->
    </div>
</div>