<div class="app-content content">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section id="pricing-plan">
                
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-primary" role="alert">
                            <div class="alert-body text-primary"><strong>Te encuentras en una fase de pre-venta</strong>, mantente atento al lanzamiento de la plataforma !!!</div>
                        </div>
                    </div>
                </div>

                <section id="knowledge-base-search">
                    <div class="row">
                        <div class="col-12">
                            <div class="card knowledge-base-bg text-center" style="background-image: url('../../../app-assets/images/banner/banner.png')">
                                <div class="card-body">
                                    <h2 class="text-primary">Te encuentras en una fase de pre-venta</h2>
                                    <p class="card-text mb-2">
                                        <span>Mantente atento al </span><span class="fw-bolder">lanzamiento de la plataforma !!!</span>
                                    </p>
                                    <a href="/presale/PYT-24" class="btn btn-primary">Empieza a comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>