<div class="app-content content py24">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            {{#if roleClient}}
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    ¡Cuenta no verificada! Para poder de todos nuestros servicios debes <a href="#" class="text-primary" role="button" data-bs-toggle="modal" data-bs-target="#verificar">verificar tu cuenta</a>.
                </div>
            </div>
            {{/if}}

            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="row match-height">     
                    {{#if roleClient}}                  
                    <div class="col-lg-6 col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-sm-center align-items-start flex-sm-row flex-column">
                                <div class="header-left">
                                    <h4 class="card-title">Ganancias diarias</h4>
                                </div>
                                <div class="header-right d-flex align-items-center mt-sm-0 mt-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                    <input type="text" class="form-control flat-picker border-0 shadow-none bg-transparent pe-0 flatpickr-input" placeholder="2019-5-1 a 2019-5-10" readonly="readonly">
                                </div>
                            </div>
                            <div class="card-body">
                                <div style="height:400px"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><canvas class="bar-chart-ex chartjs chartjs-render-monitor" data-height="400" width="1328" height="800" style="display: block; height: 400px; width: 664px;"></canvas></div>
                            </div>
                        </div>
                    </div>  
                    {{/if}}

                    <div class="{{#if roleAdmin}}col-xl-8 {{/if}}col-lg-6 col-12">
                        <div class="row match-height">
                            <!-- SALDO -->
                            <div class="col-lg-6 col-md-4 col-6">
                                <div class="card card-statistics">
                                    <div class="card-header pb-0">
                                        <h4 class="card-title">Saldo Disponible</h4>
                                    </div>
                                    <div class="card-body statistics-body">
                                        <div class="d-flex align-items-start">
                                            <div class="avatar bg-light-success me-2">
                                                <div class="avatar-content">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign avatar-icon"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <h4 class="fw-bolder mb-0">0,00261866 BTC</h4>
                                                <p class="card-text font-small-3 mb-0">Saldo disponible</p>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            <!--/SALDO -->

                            <!-- CAPITAL -->
                            <div class="col-lg-6 col-md-4 col-6">
                                <div class="card card-statistics">
                                    <div class="card-header pb-0">
                                        <h4 class="card-title">Capital</h4>
                                    </div>
                                    <div class="card-body statistics-body">
                                        <div class="d-flex align-items-start">
                                            <div class="avatar bg-light-info me-2">
                                                <div class="avatar-content">
                                                    <i data-feather='box' style="width: 20px; height: 20px;"></i>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <h4 class="fw-bolder mb-0">$100</h4>
                                                <p class="card-text font-small-3 mb-0">Capital invertido</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ CAPITAL -->

                            <!-- GANANCIAS -->
                            <div class="col-lg-6 col-md-4 col-6">
                                <div class="card card-statistics">
                                    <div class="card-header pb-0">
                                        <h4 class="card-title">Ganancias</h4>
                                    </div>
                                    <div class="card-body statistics-body">
                                        <div class="d-flex align-items-start">
                                            <div class="avatar bg-light-success me-2">
                                                <div class="avatar-content">
                                                    <i data-feather='trending-up' style="width: 20px; height: 20px;"></i>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <h4 class="fw-bolder mb-0">$100</h4>
                                                <p class="card-text font-small-3 mb-0">Ganancias generales</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ GANANCIAS -->

                            <!-- REFERIDOS -->
                            <div class="col-lg-6 col-md-4 col-6">
                                <div class="card card-statistics">
                                    <div class="card-header pb-0">
                                        <h4 class="card-title">Referidos</h4>
                                    </div>
                                    <div class="card-body statistics-body">
                                        <div class="d-flex align-items-start">
                                            <div class="avatar bg-light-primary me-2">
                                                <div class="avatar-content text-primary">
                                                    <i data-feather='user-plus' style="width: 20px; height: 20px;"></i>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <h4 class="fw-bolder mb-0">$100</h4>
                                                <p class="card-text font-small-3 mb-0">Pagos para referidos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ REFERIDOS -->

                            <!-- HISTORICO -->
                            <div class="col-lg-12 col-md-6 col-12 collapsed" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <div class="card card-statistics">
                                    <div class="card-body statistics-body">
                                        <div class="d-flex align-items-start">
                                            <div class="avatar bg-light-info me-2">
                                                <div class="avatar-content">
                                                    <i data-feather='book' style="width: 20px; height: 20px;"></i>
                                                </div>
                                            </div>
            
                                            <div class="my-auto">
                                                <h4 class="fw-bolder mb-0">Histórico</h4>
                                                <p class="card-text font-small-3 mb-0">Ganancias por contrato</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ HISTORICO -->
                        </div>
                    </div>
                </div>
            </section>

            <section class="collapse" id="collapseExample">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Historico</h6></div></div>
                                <div class="d-flex justify-content-between align-items-center mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label class="d-flex align-items-center">Mostrar 
                                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="7">7</option>
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="75">75</option>
                                                    <option value="100">100</option>
                                                </select> entradas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                        </div>
                                    </div>
                                </div>

                                <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Nro</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">ID</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Creación</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Activación</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Culminación</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Duración</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Precio del paquete</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Bonos</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Ganancias</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Estado</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard">
                                            <td class=" control" tabindex="0" style="display: none;"></td>
                                            <td class=" dt-checkboxes-cell">
                                                <div class="form-check"> 
                                                    <input class="form-check-input dt-checkboxes" type="checkbox"  id="checkbox100">
                                                    <label class="form-check-label" for="checkbox100"></label>
                                                </div>
                                            </td>
                                            <td>001</td>

                                            <td>1</td>

                                            <td>2020/05/03</td>

                                            <td>2020/05/04</td>
                                            
                                            <td>
                                                2020/07/04
                                            </td>

                                            <td>2 Meses</td>

                                            <td>
                                                1000$
                                            </td>

                                            <td>
                                                10$
                                            </td>

                                            <td>$1437</td>
                                            
                                            <td>
                                                <span class="badge rounded-pill  badge-light-success">Activo</span>
                                            </td>
                                        </tr>

                                        <tr class="odd" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard">
                                            <td class=" control" tabindex="0" style="display: none;"></td>
                                            <td class=" dt-checkboxes-cell">
                                                <div class="form-check"> 
                                                    <input class="form-check-input dt-checkboxes" type="checkbox"  id="checkbox100">
                                                    <label class="form-check-label" for="checkbox100"></label>
                                                </div>
                                            </td>
                                            <td>002</td>

                                            <td>2</td>

                                            <td>2020/05/03</td>

                                            <td>2020/05/04</td>
                                            
                                            <td>
                                                2020/07/04
                                            </td>

                                            <td>2 Meses</td>


                                            <td>
                                                1000$
                                            </td>

                                            <td>
                                                10$
                                            </td>

                                            <td>$1437</td>
                                            
                                            <td>
                                                <span class="badge rounded-pill  badge-light-warning">Por terminar</span>
                                            </td>
                                        </tr>

                                        <tr class="odd" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard">
                                            <td class=" control" tabindex="0" style="display: none;"></td>
                                            <td class=" dt-checkboxes-cell">
                                                <div class="form-check"> 
                                                    <input class="form-check-input dt-checkboxes" type="checkbox"  id="checkbox100">
                                                    <label class="form-check-label" for="checkbox100"></label>
                                                </div>
                                            </td>
                                            <td>003</td>

                                            <td>3</td>

                                            <td>2020/05/03</td>

                                            <td>-</td>
                                            
                                            <td>-</td>

                                            <td>1 Meses</td>

                                            <td>
                                                100$
                                            </td>

                                            <td>
                                                10$
                                            </td>

                                            <td>$600</td>
                                            
                                            <td>
                                                <span class="badge rounded-pill  badge-light-danger">Inactivo</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-between mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            {{#if roleClient}}
            <div class="row">
                <div class="col-lg-8 col-md-10 col-12 mb-1">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Calculadora de minería de Bitcoin</h4>
                        </div>
                        <div class="card-body">
                            <form class="form form-horizontal">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-1 row">
                                            <div class="col-sm-3">
                                                <label class="col-form-label" for="first-name">Factor de dificultad</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" id="" class="form-control" name="" value="1.89976411618e+13">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-1 row">
                                            <div class="col-sm-3">
                                                <label class="col-form-label" for="">Tasa de hash</label>
                                            </div>
                                            <div class="col-sm-6 col-md-5">
                                                <input type="text" id="" class="form-control" name="" value="">
                                            </div>
                                            <div class="col-sm-3 col-md-4">
                                                <select name="" id="" class="form-select">
                                                    <option value="">TH</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="mb-1 row">
                                            <div class="col-sm-3">
                                                <label class="col-form-label" for="">Tipo de cambio ($ / BTC)</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" id="" class="form-control" name="" value="43205.51">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-1 row">
                                            <div class="col-sm-3">
                                                <label class="col-form-label" for="">BTC / Bloque</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" id="" class="form-control" name="" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <a href="#" class="btn btn-primary">Calcular</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}

            <!--- MODAL --->
            <div class="modal fade" id="verificar" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1">Verificación de cuenta</h1>
                            <p class="text-center">Ingrese una foto de su documento de identidad, legible, con ambas caras. Los datos suministrados deben coincidir con los datos de identificación registrados.</p>
                            <div class="card-body">
                                <p class="card-text mb-0">Parte frontal</p>
                                <input type="file" class="form-control mb-1" name="" id="">
                                <p class="card-text mb-0">Parte posterior</p>
                                <input type="file" class="form-control mb-1" name="" id="">
                                
                                <input type="submit" class="btn btn-primary" value="Enviar verificación">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->

            <!--- MODAL PAQUETES --->
            <div class="modal fade" id="addNewCard" tabindex="-1" aria-labelledby="addNewCardTitle" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Código del paquete: 001</h1>
                            <div class="card-body row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Número del Paquete</label>
                                    <input id="" name="" class="form-control" type="text" value="1356 3215 6548 7898" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Precio</label>
                                    <input id="" name="" class="form-control" type="text" value="1000$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Duración</label>
                                    <input type="text" id="" class="form-control" value="6 Meses" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Creación</label>
                                    <input type="text" id="" class="form-control" value="20/9/2021" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Activación</label>
                                    <input type="text" id="" class="form-control" value="20/9/2021" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Culminación</label>
                                    <input type="text" id="" class="form-control" value="20/10/2021" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Mínima</label>
                                    <input type="text" id="" class="form-control" value="100$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Máxima</label>
                                    <input type="text" id="" class="form-control" value="300$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Alcanzadas</label>
                                    <input type="text" id="m" class="form-control" value="300$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Bono</label>
                                    <input type="text" id="" class="form-control" value="15$" readonly>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Estado</label>
                                    <input type="text" id="" class="form-control" value="Terminado" readonly>
                                </div>
                                
                                <div class="col-12">
                                    <a href="#" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL PAQUETES --->
        </div>
    </div>  
</div>
               