<div class="app-content content py24">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="row justify-content-center justify-content-lg-start">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Nuevo Contrato</h4>
                        </div>
                        <div class="card-body">
                            <form class="form form-vertical">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-1">
                                            <label class="form-label" for="email-id-vertical">Inversión</label>
                                            <input type="text" class="form-control" name="email-id" placeholder="Monto">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-1">
                                            <label class="form-label" for="email-id-vertical">Duración</label>
                                            <select name="" id="" class="form-select">
                                                <option value="">3 Meses</option>
                                                <option value="">6 Meses</option>
                                                <option value="">1 Año</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-1">
                                            <label class="form-label" for="">Ganancia Mínima</label>
                                            <select name="" id="" class="form-select">
                                                <option value="">100$</option>
                                                <option value="">200$</option>
                                                <option value="">300$</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-1">
                                            <label class="form-label" for="">Ganancia Máxima</label>
                                            <select name="" id="" class="form-select">
                                                <option value="">600$</option>
                                                <option value="">700$</option>
                                                <option value="">800$</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-1">
                                        <button type="reset" class="btn btn-primary me-1 waves-effect waves-float waves-light" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Crear Contrato</button>
                                        <button type="reset" class="btn btn-outline-secondary waves-effect">Descartar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Contratos</h6></div></div>
                            <div class="d-flex justify-content-between align-items-center mx-0 row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="DataTables_Table_0_length">
                                        <label class="d-flex align-items-center">Mostrar 
                                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                <option value="7">7</option>
                                                <option value="10">10</option><option value="25">25</option>
                                                <option value="50">50</option><option value="75">75</option>
                                                <option value="100">100</option>
                                            </select> entradas
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                    </div>
                                </div>
                            </div>
                            <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                <thead>
                                    <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Nro</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">ID</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Creación</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Activación</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Culminación</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Duración</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Inversión</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Ganancias</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Estado</th></tr>
                                </thead>
                                <tbody>
                                    <tr class="odd" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard">
                                        <td class=" control" tabindex="0" style="display: none;"></td>
                                        <td class=" dt-checkboxes-cell">
                                            <div class="form-check"> 
                                                <input class="form-check-input dt-checkboxes" type="checkbox"  id="checkbox100">
                                                <label class="form-check-label" for="checkbox100"></label>
                                            </div>
                                        </td>
                                        <td>001</td>

                                        <td>1</td>

                                        <td>2020/05/03</td>

                                        <td>2020/05/04</td>
                                        
                                        <td>
                                            2020/07/04
                                        </td>

                                        <td>2 Meses</td>

                                        <td>
                                            1000$
                                        </td>

                                        <td>$1437</td>
                                        
                                        <td>
                                            <span class="badge rounded-pill  badge-light-success">Activo</span>
                                        </td>
                                    </tr>

                                    <tr class="odd" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard">
                                        <td class=" control" tabindex="0" style="display: none;"></td>
                                        <td class=" dt-checkboxes-cell">
                                            <div class="form-check"> 
                                                <input class="form-check-input dt-checkboxes" type="checkbox"  id="checkbox100">
                                                <label class="form-check-label" for="checkbox100"></label>
                                            </div>
                                        </td>
                                        <td>002</td>

                                        <td>2</td>

                                        <td>2020/05/03</td>

                                        <td>2020/05/04</td>
                                        
                                        <td>
                                            2020/07/04
                                        </td>

                                        <td>2 Meses</td>

                                        <td>
                                            1000$
                                        </td>

                                        <td>$1437</td>
                                        
                                        <td>
                                            <span class="badge rounded-pill  badge-light-warning">Por terminar</span>
                                        </td>
                                    </tr>

                                    <tr class="odd" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard">
                                        <td class=" control" tabindex="0" style="display: none;"></td>
                                        <td class=" dt-checkboxes-cell">
                                            <div class="form-check"> 
                                                <input class="form-check-input dt-checkboxes" type="checkbox"  id="checkbox100">
                                                <label class="form-check-label" for="checkbox100"></label>
                                            </div>
                                        </td>
                                        <td>003</td>

                                        <td>3</td>

                                        <td>2020/05/03</td>

                                        <td>-</td>
                                        
                                        <td>-</td>

                                        <td>1 Meses</td>

                                        <td>
                                            100$
                                        </td>

                                        <td>$600</td>
                                        
                                        <td>
                                            <span class="badge rounded-pill  badge-light-danger">Inactivo</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <div class="d-flex justify-content-between mx-0 row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                            <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--- MODAL CONTRACTS --->
            <div class="modal fade" id="addNewCard" tabindex="-1" aria-labelledby="addNewCardTitle" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Código del Contrato: 001</h1>
                            <div class="card-body row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Número del contrato</label>
                                    <input id="" name="" class="form-control" type="text" value="1356 3215 6548 7898" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="capital">Capital invertido</label>
                                    <input id="capital" name="" class="form-control" type="text" value="1000$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de activación</label>
                                    <input type="text" id="" class="form-control" value="20/9/2021" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Decha de culminación</label>
                                    <input type="text" id="" class="form-control" value="20/10/2021" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Alcanzadas</label>
                                    <input type="text" id="m" class="form-control" value="300$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Alcanzadas</label>
                                    <input type="text" id="" class="form-control" value="150$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Mínima</label>
                                    <input type="text" id="" class="form-control" value="100$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Máxima</label>
                                    <input type="text" id="" class="form-control" value="300$" readonly>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Bono</label>
                                    <input type="text" id="" class="form-control" value="15$" readonly>
                                </div>
                                
                                <div class="col-12">
                                    <a href="#" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL CONTRACTS --->

            {{!-- MODAL PAGAR --}}
            <div class="modal fade" id="addNewCard2" tabindex="-1" aria-labelledby="pricingModalTitle" style="padding-left: 0px;" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-sm-5 mx-50 pb-5">
                            <div class="text-center">
                                <h1>Pago a realizar</h1>
                                <p class="mb-3"></p>
                            </div>

                            <section class="vertical-wizard">
                                <div class="bs-stepper vertical vertical-wizard-example">
                                    <div class="bs-stepper-header">
                                        <h4>Elige un metodo de retiro</h4>
                                        <div class="step active" data-target="#account-details-vertical" role="tab" id="account-details-vertical-trigger">
                                            <button type="button" class="step-trigger" aria-selected="true">
                                                <span class="bs-stepper-box">1</span>
                                                <span class="bs-stepper-label">
                                                    <span class="bs-stepper-title">Transferencia Bancaria</span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="step" data-target="#address-step-vertical2" role="tab" id="address-step-vertical-trigger">
                                            <button type="button" class="step-trigger" aria-selected="false">
                                                <span class="bs-stepper-box">2</span>
                                                <span class="bs-stepper-label">
                                                    <span class="bs-stepper-title">Pago Móvil</span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="step" data-target="#personal-info-vertical" role="tab" id="personal-info-vertical-trigger">
                                            <button type="button" class="step-trigger" aria-selected="false">
                                                <span class="bs-stepper-box">3</span>
                                                <span class="bs-stepper-label">
                                                    <span class="bs-stepper-title">Retiro en Criptomonendas</span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="step" data-target="#address-step-vertical" role="tab" id="address-step-vertical-trigger">
                                            <button type="button" class="step-trigger" aria-selected="false">
                                                <span class="bs-stepper-box">4</span>
                                                <span class="bs-stepper-label">
                                                    <span class="bs-stepper-title">Retiro en Billetera digital</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="bs-stepper-content">
                                        <div id="account-details-vertical" class="content dstepper-block active" role="tabpanel" aria-labelledby="account-details-vertical-trigger">
                                            <div class="content-header">
                                                <h5 class="mb-0">Transferencia Bancaria</h5>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Nombre Completo</label>
                                                    <input type="text" id="" class="form-control" placeholder="" value="Mosqueda Cordova" readonly>
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Documento de identificación</label>
                                                    <input type="text" id="" class="form-control" placeholder="" value="20.705.025" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Tipo de Banco</label>
                                                    <input type="text" id="" class="form-control" placeholder="" value="Banesco" readonly>
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Tipo de Cuenta</label>
                                                    <input type="text" id="" class="form-control" placeholder="" value="Corriente" readonly>
                                                </div>
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Nro de Cuenta Bancaria</label>
                                                    <input type="text" id="" class="form-control" placeholder="" value="0116 0552 0855 5995" readonly>
                                                </div>
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Adjuntar imagen del comprobante</label>
                                                    <input type="file" id="" class="form-control" placeholder="">
                                                </div>
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Monto</label>
                                                    <input type="text" id="" class="form-control" placeholder="">
                                                </div>
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Nro de referencia</label>
                                                    <input type="text" id="" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                    Enviar pago a verificación
                                                </button>
                                            </div>
                                        </div>
                                        <div id="personal-info-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                                            <div class="content-header">
                                                <h5 class="mb-0">Retiro en BTC</h5>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="vertical-first-name">Codigo de la Billetera</label>
                                                    <input type="text" id="" class="form-control" placeholder="">
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                    Realizar Pago
                                                </button>
                                            </div>
                                        </div>
                                        <div id="address-step-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                                            <div class="content-header">
                                                <h5 class="mb-0">Retiro en Billetera digital</h5>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="vertical-first-name">Email</label>
                                                    <input type="email" id="" class="form-control" placeholder="">
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                    Realizar Pago
                                                </button>
                                            </div>
                                        </div>
                                        <div id="address-step-vertical2" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                                            <div class="content-header">
                                                <h5 class="mb-0">Pago Móvil</h5>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Nombre Completo</label>
                                                    <input type="text" id="" class="form-control" placeholder="">
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Documento de identicicación</label>
                                                    <input type="text" id="" class="form-control" placeholder="">
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Banco</label>
                                                    <input type="text" id="" class="form-control" placeholder="">
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Telefono</label>
                                                    <input type="text" id="" class="form-control" placeholder="">
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <button class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                    Realizar Pago
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
            {{!-- END MODAL PAGAR --}}
            </div>
        </div>
    </div>
</div>