<div class="app-content content py24">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Depositos</h6></div></div>
                                <div class="d-flex justify-content-between align-items-center mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label class="d-flex align-items-center">Mostrar 
                                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="7">7</option>
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="75">75</option>
                                                    <option value="100">100</option>
                                                </select> entradas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                        </div>
                                    </div>
                                </div>
                                <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Usuario</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Correo</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">Contrato</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Monto</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Banco</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Fecha</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Comprobante</th><th class="sorting_disabled" rowspan="1" colspan="1">Acción</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td><div class="d-flex justify-content-left align-items-center"><div class="avatar bg-light-primary me-1"><span class="avatar-content text-primary">AX</span></div><div class="d-flex flex-column"><span class="emp_name text-truncate fw-bold">Glyn Giacoppo</span></div></div></td><td>mosquedac@gmail.com</td><td><a href="#" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Ver</a></td><td>$24973.48</td><td>Banesco</td><td>20/08/2021</td><td>001</td><td><a href="#" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard">Aprobar</a></td></tr>

                                        <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td><div class="d-flex justify-content-left align-items-center"><div class="avatar bg-light-success me-1"><span class="avatar-content">CE</span></div><div class="d-flex flex-column"><span class="emp_name text-truncate fw-bold">Glyn Giacoppo</span></div></div></td><td>mosquedac@gmail.com</td><td><a href="#" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Ver</a></td><td>$24973.48</td><td>Banesco</td><td>20/08/2021</td><td>002</td><td><a href="#" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard">Aprobar</a></td></tr>

                                        <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td><div class="d-flex justify-content-left align-items-center"><div class="avatar  bg-light-warning me-1"><span class="avatar-content">GG</span></div><div class="d-flex flex-column"><span class="emp_name text-truncate fw-bold">Glyn Giacoppo</span></div></div></td><td>mosquedac@gmail.com</td><td><a href="#" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard2">Ver</a></td><td>$24973.48</td><td>Banesco</td><td>20/08/2021</td><td>003</td><td><a href="#" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#addNewCard">Aprobar</a></td></tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--- MODAL --->
            <div class="modal fade" id="addNewCard" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="addNewCardTitle">Pago Recibido</h1>
                            <div class="card-body row">
                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Usuario</label>
                                    <input id="" name="" class="form-control" type="text" value="Mosqueda Cordova" readonly>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="capital">Email</label>
                                    <input id="" name="" class="form-control" type="text" value="mosquedacordoba@gmail.com" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Nro del contrato</label>
                                    <input id="" name="" class="form-control" type="text" value="001" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Banco</label>
                                    <input type="text" id="" class="form-control" value="Banesco" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Nro de Comprobante</label>
                                    <input type="text" id="" class="form-control" value="001" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Monto</label>
                                    <input type="text" id="" class="form-control" value="150$" readonly>
                                </div>
                                
                                <div class="col-12 mb-3">
                                    <label class="form-label d-block" for="">Foto del Comprobante</label>
                                    <a href="https://pbs.twimg.com/media/Dcd1XAmWAAcmo_Q.jpg" target="_blank" rel="noopener noreferrer">
                                        <img src="https://pbs.twimg.com/media/Dcd1XAmWAAcmo_Q.jpg" class="img-fluid rounded-1 cap">
                                    </a>
                                    
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <a href="" class="btn btn-primary">Aprobar Contrato</a>
                                        <a href="" class="btn btn-outline-secondary">Denegar</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL --->

            <!--- MODAL CONTRACTS --->
            <div class="modal fade" id="addNewCard2" tabindex="-1" aria-labelledby="addNewCardTitle" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="">Código del Contrato: 001</h1>
                            <div class="card-body row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Número del contrato</label>
                                    <input id="" name="" class="form-control" type="text" value="1356 3215 6548 7898" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="capital">Capital invertido</label>
                                    <input id="capital" name="" class="form-control" type="text" value="1000$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de activación</label>
                                    <input type="text" id="" class="form-control" value="20/9/2021" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Decha de culminación</label>
                                    <input type="text" id="" class="form-control" value="20/10/2021" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Alcanzadas</label>
                                    <input type="text" id="m" class="form-control" value="300$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Alcanzadas</label>
                                    <input type="text" id="" class="form-control" value="150$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Mínima</label>
                                    <input type="text" id="" class="form-control" value="100$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias Máxima</label>
                                    <input type="text" id="" class="form-control" value="300$" readonly>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label" for="">Bono</label>
                                    <input type="text" id="" class="form-control" value="15$" readonly>
                                </div>
                                
                                <div class="col-12">
                                    <a href="#" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END MODAL CONTRACTS --->
        </div>
    </div>  
</div>
               