<div class="app-content content py24">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Agregar método de pago</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 mb-2">
                                <label class="form-label" for="credit-card">Tarjeta de Crédito</label>
                                <input type="text" class="form-control credit-card-mask" placeholder="0000 0000 0000 0000" id="credit-card">
                            </div>
                            <div class="col-md-6 col-sm-12 mb-2">
                                <label class="form-label" for="dni">Documento de Identificación</label>
                                <input type="text" class="form-control credit-card-mask" placeholder="DNI" id="dni">
                            </div>
                            <div class="col-md-6 col-sm-12 mb-2">
                                <label class="form-label" for="phone-number">Teléfono</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">VE (+58)</span>
                                    <input type="text" class="form-control phone-number-mask" placeholder="1 234 567 8900" id="phone-number">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 mb-2">
                                <label class="form-label" for="date">Fecha</label>
                                <input type="text" class="form-control date-mask" placeholder="YYYY-MM-DD" id="date">
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary prefix-mask" value="Guardar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12">
                <div class="card">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Depositos</h6></div></div>
                        <div class="d-flex justify-content-between align-items-center mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label class="d-flex align-items-center">Mostrar 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="75">75</option>
                                            <option value="100">100</option>
                                        </select> entradas
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                </div>
                            </div>
                        </div>

                        <table class="datatables-basic table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                            <thead>
                                <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Nro de Tarjeta</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">DNI</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Teléfono</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Fecha</th></tr>
                            </thead>
                            <tbody>
                                <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td><div class="d-flex justify-content-left align-items-center"><div class="d-flex flex-column"><span class="emp_name text-truncate fw-bold">0000 1587 0266 0551</span></div></div></td><td>20.164.194</td><td>0412-1951611</td><td>2020/06/03</td></tr>

                                <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td><div class="d-flex justify-content-left align-items-center"><div class="d-flex flex-column"><span class="emp_name text-truncate fw-bold">0000 1587 0266 0551</span></div></div></td><td>20.164.194</td><td>0412-1951611</td><td>2020/06/03</td></tr>

                                <tr class="odd"><td class=" control" tabindex="0" style="display: none;"></td><td class=" dt-checkboxes-cell"><div class="form-check"> <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100"><label class="form-check-label" for="checkbox100"></label></div></td><td><div class="d-flex justify-content-left align-items-center"><div class="d-flex flex-column"><span class="emp_name text-truncate fw-bold">0000 1587 0266 0551</span></div></div></td><td>20.164.194</td><td>0412-1951611</td><td>2020/06/03</td></tr>

                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between mx-0 row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>