<style>
  .none{
    display: none;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
<script>

$(document).ready(function(){
      
  let valor = $('#array').val()
        let array = JSON.parse(valor.replace(/&quot;/g,'"'))
    console.log(array)    
		})

</script>
<input type="text" id="array" hidden value="{{clientes_d}}">
<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section id="basic-datatable">
        <div class="row">
          <div class="scrolling-inside-modal">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary waves-effect" data-bs-toggle="modal"
              data-bs-target="#exampleModalScrollable">
              Agregar Cliente
            </button>



          </div>
          <div class="col-12">

            <div class="card">

              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
              </div>
              <div class="card-body">
                <h4 class="card-title">Clientes</h4>
                <p class="card-text"> Todos los usuarios de la plataforma están acá, pronto podrás filtrarlos y
                  modificarlos rápidamente. </p>
              </div>
              <div class="d-flex justify-content-between align-items-center mx-0 row">

              </div>
              <!--<div class="d-flex justify-content-between align-items-center mx-0 row none"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select"><option value="7">7</option><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="75">75</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"></div></div>-->

            <section id="basic-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <table class="datatables-basic table">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Usuario</th>
                                            <th>Email</th>
                                            <th>Usuario</th>
                                            <th>Correo</th>
                                            <th>Teléfono</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
              
            </div>
          </div>
        </div>
    </div>

    
    <!-- Modal to add new record -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Agregar Usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form novalidate class="needs-validation invalid was-validated" action="/save_cliente_py4" method="post">
              <div class="form-group"><label for="register-firstName" class="form-label">Nombre</label>
              <input
                  type="text" name="firstName" placeholder="Pedro" aria-describedby="register-firstName"
                  tabindex="1" autofocus="" class="form-control ng-untouched ng-pristine ng-valid"
                  required></div>
              <div class="form-group"><label for="register-lastName" class="form-label">Apellido</label><input
                  type="text" name="lastName" placeholder="Pérez" aria-describedby="register-lastName"
                  tabindex="2" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="lastName"
                 ></div>
              <div class="divider">
                <div class="divider-text">Dirección</div>
              </div>
              <div class="form-group"><label for="register-ciudad" class="form-label">Ciudad</label><select
                  name="ciudad" placeholder="Ciudad" aria-describedby="register-ciudad" tabindex="3"
                  class="form-control ng-touched ng-pristine ng-valid" ng-reflect-name="ciudad"
                 >
                  <option selected=""> Guadalajara </option>
                  <option> Zapopan </option>
                  <option> Tlaquepaque </option>
                  <option> Tonalá </option>
                  <option> Puerto Vallarta </option>
                  <option> Lagos de Moreno </option>
                  <option> Ciudad Guzmán </option>
                  <option> Tepatitlán de Morelos </option>
                  <option> Hacienda Santa Fe </option>
                  <option> Ocotlán </option>
                  <option> Tesistán (San Francisco Tesistán) </option>
                  <option> Arandas </option>
                  <option> San Juan de los Lagos </option>
                  <option> Autlán de Navarro </option>
                  <option> Ameca </option>
                  <option> Tala </option>
                  <option> La Barca </option>
                  <option> Zapotlanejo </option>
                  <option> San Agustín </option>
                  <option> Tlajomulco de Zúñiga </option>
                  <option> Coyula </option>
                  <option> Tequila </option>
                  <option> Ixtapa </option>
                  <option> San Sebastián el Grande </option>
                  <option> Tuxpan </option>
                  <option> Atotonilco el Alto </option>
                  <option> Santa Cruz del Valle </option>
                  <option> Sayula </option>
                  <option> Las Pintitas </option>
                  <option> Encarnación de Díaz </option>
                  <option> Jalostotitlán </option>
                  <option> San Miguel el Alto </option>
                  <option> Teocaltiche </option>
                  <option> Las Pintas </option>
                  <option> Zapotiltic </option>
                  <option> El Salto </option>
                  <option> Chapala </option>
                  <option> El Grullo </option>
                  <option> Santa Anita </option>
                  <option> Lomas del Sur </option>
                  <option> Jocotepec </option>
                  <option> Tamazula de Gordiano </option>
                  <option> Zacoalco de Torres </option>
                  <option> Cihuatlán </option>
                  <option> El Quince (San José El Quince) </option>
                  <option> Jamay </option>
                  <option> San José El Verde (El Verde) </option>
                  <option> Magdalena </option>
                  <option> Ahualulco de Mercado </option>
                  <option> Villa Hidalgo </option>
                  <option> Tizapán el Alto </option>
                  <option> Cocula </option>
                  <option> Real del Valle </option>
                  <option> Yahualica de González Gallo </option>
                  <option> Poncitlán </option>
                  <option> Etzatlán </option>
                  <option> Capilla de Guadalupe </option>
                  <option> Colotlán </option>
                  <option> San José del Castillo </option>
                  <option> San Julián </option>
                  <option> Tototlán </option>
                  <option> La Tijera </option>
                  <option> Tecalitlán </option>
                  <option> Acatic </option>
                  <option> Ojuelos de Jalisco </option>
                  <option> Lomas de San Agustín </option>
                  <option> Ayotlán </option>
                  <option> El Arenal </option>
                  <option> Degollado </option>
                  <option> Santa Cruz de las Flores </option>
                  <option> La Resolana </option>
                  <option> Villas de la Hacienda (Fraccionamiento) </option>
                  <option> Amatitán </option>
                  <option> Ajijic </option>
                  <option> Acatlán de Juárez </option>
                  <option> Valle Dorado Inn </option>
                  <option> San Ignacio Cerro Gordo </option>
                  <option> Tecolotlán </option>
                  <option> Juanacatlán </option>
                  <option> Galaxia Bonito Jalisco </option>
                  <option> Unión de Tula </option>
                  <option> Las Juntas </option>
                  <option> Tomatlán </option>
                  <option> La Alameda </option>
                  <option> Talpa de Allende </option>
                  <option> Mascota </option>
                  <option> El Capulín </option>
                  <option> Rancho Alegre (Fraccionamiento) </option>
                  <option> Jesús María </option>
                  <option> San Martín Hidalgo </option>
                  <option> La Huerta </option>
                  <option> Mazamitla </option>
                  <option> La Ribera </option>
                  <option> Los Olivos </option>
                  <option> Unión de San Antonio </option>
                  <option> Villa Corona </option>
                  <option> San Patricio Melaque </option>
                  <option> San Miguel Cuyutlán </option>
                  <option> Los Ruiseñores </option>
                  <option> Usmajac </option>
                  <option> Atotonilquillo </option>
                  <option> Ayutla </option>
                  <option> Bellavista </option>
                  <option> San Sebastián del Sur </option>
                  <option> San Juan Cosalá </option>
                  <option> Pihuamo </option>
                  <option> Atequiza </option>
                  <option> Zapote del Valle (Zapote de Santa Cruz) </option>
                  <option> El Refugio </option>
                  <option> Ixtlahuacán del Río </option>
                  <option> Ixtlahuacán de los Membrillos </option>
                  <option> Colinas del Roble </option>
                  <option> Tapalpa </option>
                  <option> Galaxia la Noria </option>
                  <option> Puente Grande </option>
                  <option> La Venta del Astillero </option>
                  <option> Cuitzeo (La Estancia) </option>
                  <option> Atemajac de Brizuela </option>
                  <option> San Juanito de Escobedo </option>
                  <option> Cajititlán </option>
                  <option> San Diego de Alejandría </option>
                  <option> San Francisco de Asis </option>
                  <option> Villa Purificación </option>
                  <option> San Andrés Ixtlán </option>
                  <option> San Pedro Itzicán </option>
                  <option> Atoyac </option>
                  <option> Mezcala </option>
                </select></div>
              <div class="form-group"><label for="register-fraccionamiento"
                  class="form-label">Fraccionamiento</label><input type="text" name="fraccionamiento"
                  placeholder="Fraccionamiento" aria-describedby="register-fraccionamiento" tabindex="5"
                  class="form-control ng-touched ng-pristine ng-valid" ng-reflect-name="fraccionamiento"
                 ></div>
              <div class="form-group"><label for="register-coto" class="form-label">Coto</label><input type="text"
                  name="coto" placeholder="Coto" aria-describedby="register-coto" tabindex="6"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="coto"
                 ></div>
              <div class="form-group"><label for="register-casa" class="form-label">Casa</label><input type="text"
                  name="casa" placeholder="Casa" aria-describedby="register-casa" tabindex="7"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="casa"
                 ></div>
              <div class="form-group"><label for="register-calle" class="form-label">Calle</label><input type="text"
                  name="calle" placeholder="Calle" aria-describedby="register-calle" tabindex="8"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="calle"
                 ></div>
              <div class="form-group"><label for="register-avenida" class="form-label">Avenida</label><input type="text"
                  name="avenida" placeholder="Avenida" aria-describedby="register-avenida" tabindex="9"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="avenida"
                 ></div>
              <div class="form-group"><label for="register-referencia" class="form-label">Referencia</label><input
                  type="text" name="referencia" placeholder="Referencia"
                  aria-describedby="register-referencia" tabindex="9"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="referencia"
                 ></div>
              <div class="form-group"><label for="register-telefono" class="form-label">Teléfono</label>
                <div class="input-group">
                  <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span></div>
                  <input type="number" name="telefono" placeholder="(760) 123 00 00" mask="(000) 000 00 00"
                    aria-describedby="register-telefono" tabindex="11"
                    class="form-control ng-untouched ng-pristine ng-invalid" ng-reflect-name="telefono"
                    ng-reflect-mask-expression="(000) 000 00 00">
                </div>
              </div>
              <div class="divider">
                <div class="divider-text">Familiares</div>
              </div>
              <div class="form-group"><label for="register-nombre_familiar_1" class="form-label">Nombre del familiar
                  1</label><input type="text" name="nombre_familiar_1" placeholder="Pedro"
                  aria-describedby="register-nombre_familiar_1" tabindex="12"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="nombre_familiar_1"
                 ></div>
              <div class="form-group"><label for="register-apellido_familiar_1" class="form-label">Apellido del familiar
                  1</label><input type="text" name="apellido_familiar_1" placeholder="Pérez"
                  aria-describedby="register-apellido_familiar_1" tabindex="13"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="apellido_familiar_1"
                 ></div>
              <div class="form-group"><label for="register-telefono_familiar_1" class="form-label">Teléfono del familiar
                  1</label>
                <div class="input-group">
                  <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span></div>
                  <input type="number" name="telefono_familiar_1" placeholder="(760) 123 00 00"
                    mask="(000) 000 00 00" aria-describedby="register-telefono_familiar_1" tabindex="14"
                    class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="telefono_familiar_1"
                    ng-reflect-mask-expression="(000) 000 00 00">
                </div>
              </div>
              <div class="form-group"><label for="register-nombre_familiar_2" class="form-label">Nombre del familiar
                  2</label><input type="text" name="nombre_familiar_2" placeholder="Pedro"
                  aria-describedby="register-nombre_familiar_2" tabindex="15"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="nombre_familiar_2"
                 ></div>
              <div class="form-group"><label for="register-apellido_familiar_2" class="form-label">Apellido del familiar
                  2</label><input type="text" name="apellido_familiar_2" placeholder="Pérez"
                  aria-describedby="register-apellido_familiar_2" tabindex="16"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="apellido_familiar_2"
                 ></div>
              <div class="form-group"><label for="register-telefono_familiar_2" class="form-label">Teléfono del familiar
                  2</label>
                <div class="input-group">
                  <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">+52</span></div>
                  <input type="number" name="telefono_familiar_2" placeholder="(760) 123 00 00"
                    mask="(000) 000 00 00" aria-describedby="register-telefono_familiar_2" tabindex="17"
                    class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="telefono_familiar_2"
                    ng-reflect-mask-expression="(000) 000 00 00">
                </div>
              </div>
              <div class="form-group"><label for="register-tipo_cliente" class="form-label">Tipo de
                  cliente</label><select aria-describedby="register-tipo_cliente" tabindex="20"
                  name="tipo_cliente" class="form-control ng-touched ng-pristine ng-valid"
                  ng-reflect-name="tipo_cliente" ng-reflect-model="0">
                  <option selected=""> Residencial </option>
                  <option> Negocio </option>
                  <option> Punto de venta </option>
                  <option> Sucursal </option>
                  <option> Independiente </option>
                </select></div>
              <div class="form-group"><label for="register-cliente_nuevo" class="form-label">¿Es un nuevo
                  cliente?</label>
                <div class="custom-control custom-checkbox"><input type="checkbox" id="customCheck1"
                    name="cliente_nuevo" aria-describedby="register-cliente_nuevo" tabindex="21"
                    class="custom-control-input ng-untouched ng-pristine ng-valid" value="SI"><label for="customCheck1" class="custom-control-label">Sí</label>
                </div>
              </div>
              <div class="form-group"><label for="register-fecha_ultimo_pedido" class="form-label">Fecha del último
                  pedido</label><input type="date" name="fecha_ultimo_pedido" placeholder="01/02/2023"
                  mask="00/00/0000" aria-describedby="register-fecha_ultimo_pedido" tabindex="22"
                  class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="fecha_ultimo_pedido"
                  ng-reflect-mask-expression="00/00/0000"></div>
              <div class="form-group"><label for="register-utimos_botellones" class="form-label">Cantidad de garrafones
                  en el último pedido</label><input type="text" name="utimos_botellones" placeholder="10"
                  aria-describedby="register-utimos_botellones" tabindex="23"
                  class="form-control ng-touched ng-pristine ng-valid" ng-reflect-name="utimos_botellones"></div>
              <div class="form-group ng-star-inserted"><label for="register-sucursal"
                  class="form-label">Sucursal</label><select aria-describedby="register-sucursal" tabindex="24"
                  name="sucursal" class="form-control ng-touched ng-pristine ng-valid"
                  ng-reflect-name="sucursal">
                  <option selected=""> Bugambilias </option>
                  <option> Patria </option>
                  <option> Adamar </option>
                </select></div>
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--container-->
              <div class="divider">
                <div class="divider-text">Acceso</div>
              </div>
              <div class="form-group"><label for="register-email" class="form-label">Correo</label><input type="text"
                  name="email" placeholder="pedro@example.com" aria-describedby="register-email"
                  tabindex="25" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="email"
                 ></div>
          </div>
          <div class="modal-footer">
             <button tabindex="26" rippleeffect="" class="btn btn-primary btn-block waves-effect waves-float waves-light ng-star-inserted">Regístrate</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>
</div>
</div>
</div>




<!-- END: Content-->