<div class="app-content content py21">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section id="basic-datatable">           
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Usuarios</h6></div></div>
                                <div class="d-flex justify-content-between align-items-center mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length">
                                            <label class="d-flex align-items-center">Mostrar 
                                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="7">7</option>
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="75">75</option>
                                                    <option value="100">100</option>
                                                </select> entradas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                        </div>
                                    </div>
                                </div>
                                <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">ID</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">Nombre</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Email</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Vendedor</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Estado</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Tipo de usuario</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Contratos creados</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 128px;" aria-label="Actions">Ganancias</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd">
                                            <td class=" control" tabindex="0" style="display: none;"></td>
                                            <td class=" dt-checkboxes-cell">
                                                <div class="form-check"> 
                                                    <input class="form-check-input dt-checkboxes" type="checkbox" value="" id="checkbox100">
                                                    <label class="form-check-label" for="checkbox100"></label>
                                                </div>
                                            </td>
                                            <td>1</td>

                                            <td>
                                                <div class="d-flex justify-content-left align-items-center">
                                                    <div class="avatar bg-light-primary me-1">
                                                        <span class="avatar-content text-primary">AX</span>
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <span class="emp_name text-truncate fw-bold">Glyn Giacoppo</span>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>mail@mail.org</td>

                                            <td>-</td>
                                            
                                            <td>
                                                <span class="badge rounded-pill  badge-light-success">Activo</span>
                                            </td>

                                            <td>Inversor</td>

                                            <td>
                                                <a href="/board/PYT-21" class="btn btn-primary waves-effect waves-float waves-light">
                                                    2
                                                </a>
                                            </td>

                                            <td>$23.48</td>
                                        </tr>

                                        <tr class="odd">
                                            <td class=" control" tabindex="0" style="display: none;"></td>
                                            <td class=" dt-checkboxes-cell">
                                                <div class="form-check"> 
                                                    <input class="form-check-input dt-checkboxes" type="checkbox"  id="checkbox100">
                                                    <label class="form-check-label" for="checkbox100"></label>
                                                </div>
                                            </td>
                                            <td>1</td>

                                            <td>
                                                <div class="d-flex justify-content-left align-items-center">
                                                    <div class="avatar bg-light-primary me-1">
                                                        <img src="../../../app-assets/images/avatars/10-small.png" alt="Avatar" width="32" height="32">
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <span class="emp_name text-truncate fw-bold">Glyn Giacoppo</span>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>mail@mail.org</td>

                                            <td>-</td>
                                            
                                            <td>
                                                <span class="badge rounded-pill  badge-light-warning">No verificado</span>
                                            </td>

                                            <td>Inversor</td>

                                            <td>
                                                <a href="/board/PYT-21" class="btn btn-primary waves-effect waves-float waves-light">
                                                    1
                                                </a>
                                            </td>

                                            <td>$23.48</td>
                                        </tr>

                                        <tr class="odd">
                                            <td class=" control" tabindex="0" style="display: none;"></td>
                                            <td class=" dt-checkboxes-cell">
                                                <div class="form-check"> 
                                                    <input class="form-check-input dt-checkboxes" type="checkbox"  id="checkbox100">
                                                    <label class="form-check-label" for="checkbox100"></label>
                                                </div>
                                            </td>
                                            <td>1</td>

                                            <td>
                                                <div class="d-flex justify-content-left align-items-center">
                                                    <div class="avatar bg-light-primary me-1">
                                                        <img src="../../../app-assets/images/avatars/7-small.png" alt="Avatar" width="32" height="32">
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <span class="emp_name text-truncate fw-bold">Glyn Giacoppo</span>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>mail@mail.org</td>

                                            <td>-</td>
                                            
                                            <td>
                                                <span class="badge rounded-pill  badge-light-danger">Bloqueado</span>
                                            </td>

                                            <td>Inversor</td>

                                            <td>
                                                <a href="/board/PYT-21" class="btn btn-primary waves-effect waves-float waves-light">
                                                    1
                                                </a>
                                            </td>

                                            <td>$23.48</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between mx-0 row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {{!-- <div class="modal fade" id="addNewCard" tabindex="-1" aria-labelledby="addNewCardTitle" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-sm-5 mx-50 pb-5">
                            <h1 class="text-center mb-1" id="addNewCardTitle">Código del Contrato: 001</h1>
                            <p class="text-center">Información del contrato</p>

                            <!-- form -->
                            <form id="addNewCardValidation" class="row gy-1 gx-2 mt-75" onsubmit="return false" novalidate="novalidate">
                                <div class="col-12">
                                    <label class="form-label" for="modalAddCardNumber">Número de Contrato</label>
                                    <div class="input-group input-group-merge">
                                        <input id="modalAddCardNumber" name="modalAddCard" class="form-control add-credit-card-mask" type="text" placeholder="1356 3215 6548 7898" aria-describedby="modalAddCard2" data-msg="" value="1356 3215 6548 7898" disabled>
                                        <span class="input-group-text cursor-pointer p-25" id="modalAddCard2">
                                            <span class="add-card-type"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="modalAddCardName">Creado por</label>
                                    <input type="text" id="modalAddCardName" class="form-control" value="Glyn Giacoppo" disabled>
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="modalAddCardName">Email</label>
                                    <input type="text" id="modalAddCardName" class="form-control" value="mail@mail.org" disabled>
                                </div>

                                <div class="col-12">
                                    <label class="form-label" for="modalAddCardName">Fecha de Creación</label>
                                    <input type="text" id="modalAddCardName" class="form-control" value="2020/05/03" disabled>
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="modalAddCardName">Fecha de Activación</label>
                                    <input type="text" id="modalAddCardName" class="form-control" value="2020/05/05" disabled>
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="modalAddCardName">Fecha de Culminación</label>
                                    <input type="text" id="modalAddCardName" class="form-control" value="2020/06/05" disabled>
                                </div>

                                {{!-- <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary me-1 mt-1 waves-effect waves-float waves-light">Submit</button>
                                    <button type="reset" class="btn btn-outline-secondary mt-1 waves-effect" data-bs-dismiss="modal" aria-label="Close">
                                        Cancel
                                    </button>
                                </div> --}}
                            </form>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>  
</div>
               