<div class="py27 content-wrapper">
    <div class="content-body">
        <!-- Error page-->
        <div class="misc-wrapper">
            <a class="brand-logo d-lg-none" href="/controlrolespy27/PYT-27">
                <img src="../../../app-assets/images/py27/logo-2.png" class="img-fluid">
            </a>
            <div class="misc-inner p-2 p-sm-3 pt-lg-2 pb-lg-0">
                <div class="w-100">
                    <a class="brand-logo d-none d-lg-block" href="/controlrolespy27/PYT-27">
                        <img src="../../../app-assets/images/py27/logo-2.png" class="img-fluid">
                    </a>
                    <div class="text-center">
                        <h2 class="mb-1">Página no encontrada</h2>
                        <p class="mb-2">Oops! La URL solicitada no se encontró en este servidor.</p>
                        <a class="btn btn-primary mb-2 btn-sm-block waves-effect waves-float waves-light" href="/controlrolespy27/PYT-27">De vuelta al inicio</a>
                    </div>
                    <img class="img-fluid d-block mx-auto" src="../../../app-assets/images/pages/error.svg" alt="Error 404">
                </div>
            </div>
        </div>
        <!-- / Error page-->
    </div>
</div>