   {{#if login}}{{else}}
   <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
            <!-- BEGIN: Footer-->    
            <footer class="footer footer-static footer-light {{#if py21}} py21 {{/if}} {{#if py24}} py24 {{/if}}">
                <p class="clearfix mb-0">
                    <span class="float-md-start d-block d-md-inline-block mt-25">MOSQUEDA CORDOVA &copy; 2021</span>
                </p>
            </footer>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
            <!-- END: Footer-->
    {{/if}}

    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/pages/app-ecommerce.js"></script>
    <!-- END: Page JS-->
    
  <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/extensions/wNumb.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/nouislider.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/toastr.min.js"></script>
    <!-- END: Page Vendor JS-->
   <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/jszip.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <!-- END: Page Vendor JS-->
   
   <!-- BEGIN: Page JS-->
    <script src="../../../dataPY4/table-datatables-basic.js"></script>
    <!-- END: Page JS-->
     <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/forms/repeater/jquery.repeater.min.js"></script>
    <script src="../../../app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <!-- END: Page Vendor JS-->

    <script src="../../../app-assets/js/scripts/pages/modal-share-project.js"></script>

    <!-- BEGIN: CHARTS Vendor JS-->
    <script src="../../../app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <script src="../../../app-assets/vendors/js/charts/chart.min.js"></script>
    <!-- END: CHARTS Vendor JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/charts/chart-chartjs.js"></script>
    <!-- END: Page JS-->

    <!-- BEGIN: DASHBOARD ECOMMERCE GRAPIHCS JS-->
    <script src="../../../app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>
    <!-- END: DASHBOARD ECOMMERCE GRAPIHCS JS-->

    {{#if py21}}
        
    {{/if}}

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
var dominio=window.location.hostname;
var dominio_actual="";
if(dominio=="localhost" || dominio=="projectos-666.web.app"){
  dominio_actual="desarrollo";
  console.log(dominio)
}else{
  dominio_actual=dominio;
  switch(dominio){
    case 'pyt4.mosquedacordova.com' || 'bwater.com': 
    sessionStorage.setItem('SS_proyecto_actual', 'PYT-4');
    windows.location.href = '/py4/PYT-4';
    break
    case 'pyt21.mosquedacordova.com' || 'cbfcapital.com': 
    sessionStorage.setItem('SS_proyecto_actual', 'PYT-21');
    windows.location.href = '/py21/PYT-21';
    break
    case 'pyt24.mosquedacordova.com' || 'minner.com': 
    sessionStorage.setItem('SS_proyecto_actual', 'PYT-24');
    windows.location.href = '/py24/PYT-24';
    break
    case 'pyt27.mosquedacordova.com' || 'dawi11.com': 
    sessionStorage.setItem('SS_proyecto_actual', 'PYT-27');
    windows.location.href = '/py27/PYT-27';
    break
  }
}
//export const DOM_PA=dominio_actual;
if(sessionStorage.getItem('SS_proyecto_actual')){
  var identificador=sessionStorage.getItem('SS_proyecto_actual');
  //obtenemos todos los link del head
  var cabecera=document.getElementsByTagName("head")[0];
  
  var n_estilos = document.getElementsByTagName("link");

  //colocar los archivos CSS del proyecto seleccionado
  for(var n=n_estilos.length-1; n>0; n--){
    //obtenemos los link que sean estilos de proyectos (pyt_)
    var estilo=n_estilos[n].href;
    //alert("todos: "+n_estilos[n].href);
    var estilo_De_proyecto = estilo.indexOf('PYT-');
    var estilo_por_defecto = estilo.indexOf('por_defecto');
    var estilo_importante = estilo.indexOf('styles.css');
    var mi_proyecto_actual = estilo.indexOf(identificador);
    if(mi_proyecto_actual!== -1){n_estilos[n].title=identificador;}
    if(mi_proyecto_actual=== -1 && estilo_importante=== -1){
        cabecera.removeChild(n_estilos[n]);
        //n=n_estilos.length;
    }
  }
}
			$('#button_modal_init').click()
			
        })
		$(document).ready(function(){
      
        $('#basicSelect').on('change',(e)=>{
				 var value = $('#basicSelect').val()
				 console.log(value)

				 if(value == "default"){
					 return
				 }else{
					console.log(value)
					window.location.href = value;
				 }
            })
		})
    </script>
</body>
</html>
