<div class="app-content content py24">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="row">
                {{!--- PAGOS PENDIENTES ---}}
                <div class="col-12">
                    <div class="card">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Payments to be made</h6></div></div>
                            <div class="d-flex justify-content-between align-items-center mx-0 row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="DataTables_Table_0_length">
                                        <label class="d-flex align-items-center">Show 
                                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                <option value="7">7</option>
                                                <option value="10">10</option><option value="25">25</option>
                                                <option value="50">50</option><option value="75">75</option>
                                                <option value="100">100</option>
                                            </select> entries
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <label class="d-flex align-items-center">Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                    </div>
                                </div>
                            </div>
                            <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">User</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Email</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Transaction type</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Code Wallet</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">AeroCoins</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap;" aria-label="Date: activate to sort column ascending">Amount</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Status</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="white-space: nowrap;">There are no payments to be made</td>
                                        </tr>
                                    </tbody>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between mx-0 row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 0 to 7 of 100 entries</div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                            <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="d-none" role="button" data-bs-toggle="modal" id="btnPagar" data-bs-target="#addNewCard2"></button>

                <button class="d-none" role="button" data-bs-toggle="modal" id="btnRetiros" data-bs-target="#addNewCard5"></button>

                <button class="d-none" role="button" data-bs-toggle="modal" id="btnSinMetodos" data-bs-target="#addNewCard4"></button>

                {{!--- REALIZADOS ---}}
                <div class="col-12">
                    <div class="card">
                        <div id="" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Payments made</h6></div></div>
                            <div class="d-flex justify-content-between align-items-center mx-0 row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="DataTables_Table_0_length">
                                        <label class="d-flex align-items-center">Show 
                                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                <option value="7">7</option>
                                                <option value="10">10</option><option value="25">25</option>
                                                <option value="50">50</option><option value="75">75</option>
                                                <option value="100">100</option>
                                            </select> entries
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <table class="datatables-basic table table-responsive dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;">
                                    <thead>
                                        <tr role="row"><th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 29px; display: none;" aria-label=""></th><th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 29px;" data-col="1" aria-label=""><div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="checkboxSelectAll"><label class="form-check-label" for="checkboxSelectAll"></label></div></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">User</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Email</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Transaction type</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px; white-space: nowrap" aria-label="Name: activate to sort column ascending">Code Wallet</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">AeroCoins</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap;" aria-label="Date: activate to sort column ascending">Amount</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Status: activate to sort column ascending">Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Name: activate to sort column ascending">Status</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="white-space: nowrap;">There are no payments made</td>
                                        </tr>
                                    </tbody>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between mx-0 row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 0 to 7 of 100 entries</div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                            <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
            {{!-- MODAL PAGAR --}}
            <div class="modal fade" id="addNewCard2" aria-labelledby="" tabindex="-1" style="padding-left: 0px;">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-sm-5 mx-50 pb-5">
                            <div class="text-center">
                                <h1>Pago a realizar</h1>
                                <p class="mb-3"></p>
                            </div>

                            <section class="vertical-wizard">
                                <div class="bs-stepper vertical vertical-wizard-example">
                                    <div class="bs-stepper-header">
                                        <h4 style="white-space: nowrap">Payment method</h4>
                                        <div class="step" data-target="#personal-info-vertical" role="tab" id="btnBTC">
                                            <button type="button" class="step-trigger" aria-selected="false">
                                                <span class="bs-stepper-box">3</span>
                                                <span class="bs-stepper-label">
                                                    <span class="bs-stepper-title">Pago en Criptomonendas</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="bs-stepper-content">
                                        <!--- TRANSFERENCIAS BANCARIAS -->
                                        <form id="account-details-vertical" method="POST" action="/payuser" class="content dstepper-block active" role="tabpanel" aria-labelledby="account-details-vertical-trigger">
                                            <div class="content-header">
                                                <h5 class="mb-0">Transferencia Bancaria</h5>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Nombre Completo</label>
                                                    <input type="text" name="ttype" class="d-none" value="Transferencia Bancaria" required readonly>
                                                    <input type="text" name="id" class="d-none id" value="" required readonly>
                                                    <input type="text" name="methodid" class="d-none methodid" value="" required readonly>
                                                    <input type="text" name="depid" class="d-none depid" value="" required readonly>
                                                    <input type="text" id="fullname1" class="form-control" placeholder="" name="name" value="" required readonly>
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Documento de identificación</label>
                                                    <input type="text" id="dni1" class="form-control" placeholder="" name="dni" value="" required readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Tipo de Banco</label>
                                                    <input type="text" id="bank_name1" class="form-control" placeholder="" name="bank_name" value="" required readonly>
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Tipo de Cuenta</label>
                                                    <input type="text" name="type_account" id="type_account" class="form-control" placeholder="" value="" required readonly>
                                                </div>
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Nro de Cuenta Bancaria</label>
                                                    <input type="text" id="num_account" class="form-control" placeholder="" name="num_account" value="" required readonly>
                                                </div>
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Monto $</label>
                                                    <input type="number" name="amount" class="form-control amount" placeholder="" min="0" required readonly>
                                                </div>
                                                <!--<div class="mb-1">
                                                    <label class="form-label" for="">Nro de referencia</label>
                                                    <input type="text" name="ref" id="ref" class="form-control" placeholder="" required>
                                                </div>-->
                                            </div>
                                            <div class="d-flex">
                                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                    Realizar Pago
                                                </button>
                                            </div>
                                        </form>

                                        <!--- BTC -->
                                        <form action="/payuser" method="POST" id="personal-info-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="personal-info-vertical-trigger">
                                            <div class="content-header">
                                                <h5 class="mb-0">Retiro en BTC</h5>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Codigo de la Billetera</label>
                                                    <input type="text" name="ttype" class="d-none" value="BTC" required readonly>
                                                    <input type="text" name="id" class="d-none id" value="" required readonly>
                                                    <input type="text" name="methodid" class="d-none methodid" value="" required readonly>
                                                    <input type="text" name="depid" class="d-none depid" value="" required readonly>
                                                    <input type="text" id="code_wallet" class="form-control" placeholder="" required readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Monto $</label>
                                                    <input type="number" name="amount" class="form-control amount" placeholder="" min="0" required readonly>
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                    Realizar Pago
                                                </button>
                                            </div>
                                        </form>

                                        <!--- BILLETERA DIGITAL -->
                                        <form action="/payuser" method="POST" id="address-step-vertical" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                                            <div class="content-header">
                                                <h5 class="mb-0">Retiro en Billetera digital</h5>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Email</label>
                                                    <input type="text" name="methodid" class="d-none methodid" value="" required readonly>                                                    
                                                    <input type="text" name="ttype" class="d-none" value="Billetera Digital" required readonly>
                                                    <input type="text" name="id" class="d-none id" value="" required readonly>
                                                    <input type="text" name="depid" class="d-none depid" value="" required readonly>
                                                    <input type="email" id="wallet_email" class="form-control" placeholder="" required readonly>
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Monto $</label>
                                                    <input type="number" name="amount" class="form-control amount" placeholder="" min="0" required readonly>
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                    Realizar Pago
                                                </button>
                                            </div>
                                        </form>

                                        <!--- PAGO MOVIL -->
                                        <form action="/payuser" method="POST" id="address-step-vertical2" class="content dstepper-block" role="tabpanel" aria-labelledby="address-step-vertical-trigger">
                                            <div class="content-header">
                                                <h5 class="mb-0">Pago Móvil</h5>
                                            </div>
                                            <div class="row">
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Nombre Completo</label>
                                                    <input type="text" name="ttype" class="d-none" value="Pago Movil" required readonly>
                                                    <input type="text" name="id" class="d-none id" value="" required readonly>  
                                                    <input type="text" name="methodid" class="d-none methodid" value="" required readonly>                   
                                                    <input type="text" name="depid" class="d-none depid" value="" required readonly>      
                                                    <input type="text" id="fullname2" class="form-control" placeholder="" required readonly>
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Documento de identicicación</label>
                                                    <input type="text" id="dni2" class="form-control" placeholder="" required readonly>
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Banco</label>
                                                    <input type="text" id="bank_name2" class="form-control" placeholder="" required readonly>
                                                </div>
                                                <div class="mb-1 col-12">
                                                    <label class="form-label" for="">Telefono</label>
                                                    <input type="text" id="phone" class="form-control" placeholder="" required>
                                                </div>
                                                <div class="mb-1">
                                                    <label class="form-label" for="">Monto $</label>
                                                    <input type="text" name="amount" class="form-control amount" placeholder="" min="0" required readonly>
                                                </div>
                                                <!--<div class="mb-1">
                                                    <label class="form-label" for="">Nro de referencia</label>
                                                    <input type="text" id="ref2" name="ref" class="form-control" placeholder="" required>
                                                </div>--->
                                            </div>

                                            <div class="d-flex">
                                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light me-1">
                                                    Realizar Pago
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- END MODAL PAGAR --}}

            {{!-- MODAL FINALIZADOS --}}
            <div class="modal fade" id="addNewCard3" tabindex="-1" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center mb-1" id="pname"></h1>
                            <div class="card-body row">
                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Nombre del Paquete</label>
                                    <input id="name2" class="form-control" type="text" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Total de TH</label>
                                    <input id="amount_th2" class="form-control" type="text" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Duración de Minado / Meses</label>
                                    <input type="text" id="duration2" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Creación</label>
                                    <input type="text" id="date2" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Activación</label>
                                    <input type="text" id="activated" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Fecha de Culminación</label>
                                    <input type="text" id="culmination" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Cobro por mantenimiento</label>
                                    <input type="text" id="maintance" class="form-control" value="" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Precio del Paquete $</label>
                                    <input type="text" id="amount2" class="form-control" value="400$" readonly>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label class="form-label" for="">Ganancias $</label>
                                    <input type="text" id="earnings" class="form-control" value="" readonly>
                                </div>

                                <div class="col-12 col-md-6 mb-2">
                                    <label class="form-label" for="">Estado</label>
                                    <input type="text" id="state2" class="form-control" value="Terminado" readonly>
                                </div>
                                
                                <div class="col-12">
                                    <a href="#" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- END MODAL FINALIZADOS --}}

            {{!-- MODAL USUARIO SIN METODOS DE RETIRO --}}
            <div class="modal fade" id="addNewCard4" tabindex="-1" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <h1 class="mb-1">Lo Sentimos!</h1>
                            <div class="card-body row">
                                <p>El usuario actualmente no cuenta con ningun metodo de retiro añadido a la plataforma.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- END MODAL FINALIZADOS --}}

            {{!-- CUENTAS DE USUARIO --}}
            <div class="modal fade" id="addNewCard5" tabindex="-1" aria-labelledby="pricingModalTitle" style="padding-left: 0px;" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-sm-5 mx-50 pb-5">
                            <div id="pricing-plan">
                                <!-- title text and switch button -->
                                <div class="text-center">
                                    <h1 id="pricingModalTitle">Seleccione una cuenta!</h1>
                                    <p class="mb-3"></p>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="card-header border-bottom p-1"><div class="head-label"><h6 class="mb-0">Metodos de Retiro de Usuario</h6></div></div>
                                            <div class="d-flex justify-content-between align-items-center mx-0 row">
                                                <div class="col-sm-12 col-lg-6">
                                                    <div class="dataTables_length" id="DataTables_Table_0_length">
                                                        <label class="d-flex align-items-center">Mostrar 
                                                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                                <option value="7">7</option>
                                                                <option value="10">10</option><option value="25">25</option>
                                                                <option value="50">50</option><option value="75">75</option>
                                                                <option value="100">100</option>
                                                            </select> entradas
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                        <label class="d-flex align-items-center">Buscar:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="datatables-basic table table-responsive dataTable no-footer dtr-colum table-hover" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1108px;" id="tablaRetirosUsuarios">
                                            </table>

                                            <div class="d-flex justify-content-between mx-0 row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 0 a 7 de 100 entradas</div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a></li>
                                                            <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">&nbsp;</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- END CUENTAS DE USUARIO --}}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>   

<script>
    let btn = document.querySelectorAll('.showModalBtn'),
    payBtn = document.querySelectorAll('.payBtn'),
    amountInp = document.querySelectorAll('.amount');

    btn.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetModal(current);
        });
    });

    payBtn.forEach(e => {
        e.addEventListener('click', (event) => {
            let current = event.target
            SetPayModal(current);
            amountInp.forEach(item =>  {
                item.value = current.getAttribute('data-amount');
            });
        });
    });

    const SetModal = (target) => {
        const packName = document.getElementById('pname'),
        name = document.getElementById('name2'),
        amount_th = document.getElementById('amount_th2'),
        duration = document.getElementById('duration2'),
        date = document.getElementById('date2'),
        maintance = document.getElementById('maintance'),
        activated = document.getElementById('activated'),
        culmination = document.getElementById('culmination'),
        earnings = document.getElementById('earnings'),
        amount = document.getElementById('amount2'),
        state = document.getElementById('state2');

        packName.innerText = target.getAttribute('data-name')
        name.value = target.getAttribute('data-name')
        amount_th.value = target.getAttribute('data-amount_th')
        duration.value = target.getAttribute('data-duration')
        amount.value = target.getAttribute('data-price')
        earnings.value = target.getAttribute('data-earnings')
        date.value = target.getAttribute('data-date')
        state.value = target.getAttribute('data-status')
        activated.value = target.getAttribute('data-activated')
        culmination.value = target.getAttribute('data-culmination')
        maintance.value = target.getAttribute('data-maintance')
        console.log(target.getAttribute('data-activated'))
        console.log(target.getAttribute('data-culmination'))
    }

    const SetPayModal = (target) => {
        let inId = document.querySelectorAll('.d-none.id'),
        depId = document.querySelectorAll('.d-none.depid');
        let idUser = target.getAttribute('data-id');
        let idDep = target.getAttribute('data-depid');
        console.log(idUser)
        console.log("ID USUARIO")
        console.log(idDep)
        console.log("ID DEPOSITO")
        inId.forEach(id => {
            id.value = idUser;
        });
        depId.forEach(id => {
            id.value = idUser;
        });
    }
</script>

<script> 
    $(document).ready(function() {
        let btnPay = $('.payBtn');
        let transf = false, paym = false, btc = false, wallet = false;         
        let table = document.getElementById('tablaRetirosUsuarios');
        btnPay.click(function(e) {
            let id = e.target.getAttribute('data-id')
            let form = document.getElementById(`form${id}`);
            const data = new FormData(form);
            table.innerHTML = '';
            transf = false, paym = false, btc = false, wallet = false;

            console.log(form)
            $.ajax({
                url: '/getretreatsusers',
                type: 'POST',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (resp, textStatus, jqXHR) {
                    console.log(resp)
                    console.log("RESPUESTA")
                    let arr = resp;
                    let newArr = [];
                    
                    if(arr.transf.length) {
                        newArr.push(arr.transf)
                    } else {
                        newArr.push([])
                    }
                    if(arr.paym.length) {
                        newArr.push(arr.paym)
                    } else {
                        newArr.push([])
                    }
                    if(arr.btc.length) {
                        newArr.push(arr.btc)
                    } else {
                        newArr.push([])
                    }
                    if(arr.wallet.length) {
                        newArr.push(arr.wallet)
                    } else {
                        newArr.push([])
                    }

                    SetPaymenthUser(newArr);
                },
                error: function (jqXHR, textStatus) {
                    console.log('error:' + jqXHR + textStatus);
                }
            });
        });

        function SetPaymenthUser (item) {
            console.log(item)
            console.log("DATOS")

            if(item[0] != []) {
                item[0].forEach(el => {
                    SetModalValues(el);
                });
            }
            if(item[1] != []) {
                item[1].forEach(el => {
                    SetModalValues(el);
                });
            }
            if(item[2] != []) {
                item[2].forEach(el => {
                    SetModalValues(el);
                });
            }
            if(item[3] != []) {
                item[3].forEach(el => {
                    SetModalValues(el);
                });
            }
            if(item[0].length === 0 && item[1].length === 0 && item[2].length === 0 && item[3].length === 0) {
                $('#btnSinMetodos').click();
            }
        }

        function SetModalValues (item) {
            console.log(item)
            console.log("ITEM RECIBIDO")
            let name, status, created, activated, culmination;
            let thead = document.createElement('thead'),
            tbody = document.createElement('tbody');
            
            if(item.transaction_type === 'Transferencia Bancaria') {
                if(!transf) {
                    thead.innerHTML = 
                        '<tr role="row"><th>Metodo</th><th class="sorting" tabindex="0" style="width: 102px;">Usuario</th><th tabindex="0" colspan="1">DNI</th><th tabindex="0" colspan="1">Banco</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Email: activate to sort column ascending">Nro de cuenta</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Tipo de cuenta</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending"></th></tr>';
                    transf = true;
                }
            
                tbody.innerHTML = `
                    <tr data-type="${item.transaction_type}" data-method="${item.id}" data-name="${item.full_name}" data-dni="${item.dni}" data-bank="${item.bank_name}" data-numacc="${item.num_account}" data-tacc="${item.type_account}" class="fila">
                        <td>${item.transaction_type}</td>
                        <td>${item.full_name}</td>
                        <td>${item.dni}</td>
                        <td>${item.bank_name}</td>
                        <td>${item.num_account}</td>
                        <td>${item.type_account}</td>
                        <td></td>
                    </tr>`;
            } else if(item.transaction_type === 'Pago Movil') {
                if(!paym) {
                    thead.innerHTML = 
                        '<tr role="row"><th>Metodo</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Date: activate to sort column ascending">Nombre</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">DNI</th><th class="sorting" tabindex="0" style="width: 102px;">Banco</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending">Telefono</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending"></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;" aria-label="Salary: activate to sort column ascending"></th></tr>';
                    paym = true;
                }

                tbody.innerHTML = `
                    <tr data-type="${item.transaction_type}" data-method="${item.id}" data-name="${item.full_name}" data-dni="${item.dni}" data-bank="${item.bank_name}" data-phone="${item.phone}" class="fila">
                        <td>${item.transaction_type}</td>
                        <td>${item.full_name}</td>
                        <td>${item.dni}</td>
                        <td>${item.bank_name}</td>
                        <td>${item.phone}</td>
                        <td></td>
                        <td></td>
                    </tr>`;
            } else if(item.transaction_type === 'BTC') {
                if(!btc) {
                    thead.innerHTML = 
                        '<tr role="row"><th>Metodo</th><th colspan="1">Código Billetera</th><th colspan="1"></th><th colspan="1"></th><th colspan="1"></th><th colspan="1"></th><th colspan="1"></th></tr>';
                    btc = true;
                }

                tbody.innerHTML = `
                    <tr data-type="${item.transaction_type}" data-method="${item.id}" data-wallet="${item.code_wallet}" class="fila">
                        <td>${item.transaction_type}</td>
                        <td>${item.code_wallet}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>`;
            } else if(item.transaction_type === 'Billetera Digital') {
                if(!wallet) {
                    thead.innerHTML = 
                        '<tr role="row"><th>Metodo</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="white-space: nowrap" aria-label="Date: activate to sort column ascending">Email Billetera</th><th></th><th></th><th></th><th></th><th></th></tr>';
                    wallet = true;
                }

                tbody.innerHTML = `
                    <tr data-type="${item.transaction_type}" data-method="${item.id}" data-wallet-email="${item.digital_wallet_email}" class="fila">
                        <td>${item.transaction_type}</td>
                        <td>${item.digital_wallet_email}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>`;
            }
            
            table.appendChild(thead)
            table.appendChild(tbody)
            $('#btnRetiros').click();
        }

        table.addEventListener('click', e => {
            let row = document.querySelectorAll('#tablaRetirosUsuarios .fila');
            console.log(row);
            console.log("ROWS");

            if(e.target.parentElement.classList.contains('fila')) {
                let typeMethod = e.target.parentElement.getAttribute('data-type');
                SetModal2(typeMethod, e.target.parentElement);
            }
        });

        function SetModal2 (type, el) {
            $('#btnTransferencias').removeClass('active');
            $('#btnTransferencias').addClass('d-none');
            $('#account-details-vertical').removeClass('active');

            $('#btnPagoMovil').removeClass('active');
            $('#btnPagoMovil').addClass('d-none');
            $('#address-step-vertical2').removeClass('active');

            $('#btnBTC').removeClass('active');
            $('#btnBTC').addClass('d-none');
            $('#personal-info-vertical').removeClass('active');

            $('#btnWallet').removeClass('active');
            $('#btnWallet').addClass('d-none');
            $('#address-step-vertical').removeClass('active');

            let inMetodos = document.querySelectorAll('.methodid');
            inMetodos.forEach(inp => {
                inp.value = el.getAttribute('data-method');
                console.log(inp);
                console.log(inp.value);
            });
            switch (type) {
                case 'Transferencia Bancaria':
                    $('#btnRetiros').click();
                    $('#btnPagar').click();
                    $('#btnTransferencias').removeClass('d-none');
                    $('#btnTransferencias').addClass('active');
                    $('#account-details-vertical').addClass('active');
                    SetValuesBankSelected(el);
                    break;

                case 'Pago Movil':
                    $('#btnRetiros').click();
                    $('#btnPagar').click();
                    $('#btnPagoMovil').removeClass('d-none');
                    $('#btnPagoMovil').addClass('active');
                    $('#address-step-vertical2').addClass('active');
                    SetValuesPaymSelected(el);
                    break;

                case 'Billetera Digital':
                    $('#btnRetiros').click();
                    $('#btnPagar').click();
                    $('#btnWallet').removeClass('d-none');
                    $('#btnWallet').addClass('active');
                    $('#address-step-vertical').addClass('active');
                    SetValuesWalletSelected(el);
                    break;

                case 'BTC':
                    $('#btnRetiros').click();
                    $('#btnPagar').click();
                    $('#btnBTC').removeClass('d-none');
                    $('#btnBTC').addClass('active');
                    $('#personal-info-vertical').addClass('active');
                    SetValuesBTCWalletSelected(el);
                    break;
            }
        }
        // Transferencias
        const SetValuesBankSelected = (index) => {
            const fname1 = document.getElementById('fullname1'),
            dni1 = document.getElementById('dni1'),
            bankName1 = document.getElementById('bank_name1'),
            typeAccount = document.getElementById('type_account'),
            numAccount = document.getElementById('num_account');

            fname1.value = index.getAttribute('data-name');
            bankName1.value = index.getAttribute('data-bank');
            dni1.value = index.getAttribute('data-dni');
            numAccount.value = index.getAttribute('data-numacc');
            typeAccount.value = index.getAttribute('data-tacc');
        }
        
        // Pago Movil
        const SetValuesPaymSelected = (index) => {
            const fname2 = document.getElementById('fullname2'),
            dni2 = document.getElementById('dni2'),
            bankName2 = document.getElementById('bank_name2'),
            phone = document.getElementById('phone');

            fname2.value = index.getAttribute('data-name');
            bankName2.value = index.getAttribute('data-bank');
            dni2.value = index.getAttribute('data-dni');
            phone.value = index.getAttribute('data-phone');
        }
        
        // BTC
        const SetValuesBTCWalletSelected = (index) => {
            const code = document.getElementById('code_wallet');
            code.value = index.getAttribute('data-wallet');
        }
        
        // Billetera Digital
        const SetValuesWalletSelected = (index) => {
            const email = document.getElementById('wallet_email');
            email.value = index.getAttribute('data-wallet-email');
        }
    });
</script>