<nav class="py24 landheader header-navbar navbar-expand-lg navbar navbar-fixed align-items-center navbar-shadow navbar-brand-center py-1" data-nav="brand-center">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center justify-content-between d-lg-none w-100">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link menu-toggle" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu ficon"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand text-primary" href="#">
                        <img src="../../../app-assets/images/py24/logo-2.png" class="img-fluid">
                    </a>
                </li>
            </ul>
        </div>

        <ul class="nav navbar-nav d-none d-lg-flex">
            <li class="nav-item">
                <a class="navbar-brand text-primary" href="#">
                    <img src="../../../app-assets/images/py24/logo-2.png" class="img-fluid">
                </a>
            </li>
        </ul>

        <ul class="menu nav navbar-nav align-items-center ms-auto d-none d-lg-flex">
            <li class="nav-item">
                <a href="/web/PYT-24" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Buy Now</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Road Map</a>
            </li>
            <li class="nav-item">
                <a href="/privacy/PYT-24" class="nav-link">Privacy Policy</a>
            </li>
        </ul>
    </div>
</nav>

<div class="horizontal-menu-wrapper d-lg-none py24">
    <div class="main-menu menu-light menu-fixed menu-shadow" role="navigation" data-menu="menu-wrapper" data-menu-type="floating-nav">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item me-auto">
                    <a class="navbar-brand" href="#">
                        <img src="../../../app-assets/images/py24/logo-2.png" class="img-fluid">
                    </a>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x d-block d-xl-none text-primary toggle-icon font-medium-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <!-- Horizontal menu content-->
        <div class="navbar-container main-menu-content ps ps--active-y" data-menu="menu-container">
            <!-- include ../../../includes/mixins-->
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="nav-item">
                    <a href="/web/PYT-24" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Buy Now</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Road Map</a>
                </li>
                <li class="nav-item">
                    <a href="/privacy/PYT-24" class="nav-link">Privacy Policy</a>
                </li>
            </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 367px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 334px;"></div></div></div>
    </div>
</div>

<section class="py24 acerca mt-5">
    <div class="row m-0 justify-content-center">
        <div class="col-md-10 col-lg-8">
            <h3>RISK NOTICE</h3>
            <p>In consideration that smart contract risks always exist. AeroCoin (aerocoin.aero) is not an investment broker, analyst or specialist or adviser. This information is for information, guidance, and educational purposes only. All information described on this website must be independently verified. AeroCoin (aerocoin.aero) does not accept responsibility for any damage or loss caused by such information or service. You must take into consideration the risks of any operation in any financial market. In case of doubts and possible investment, you should consult a qualified financial advisor. Don't trade money you can't lose.</p>
            <h3>LEGAL DISCLAIMER</h3>
            <p>The information provided by AeroCoin (aerocoin.aero) does not constitute an investment advice, financial advice, business advice or any other type of advice. You should not treat the material content as such. This material is for informational purposes only and is not (a) an offer or solicitation of an offer to invest, buy or sell, interest, shares or participate in any investment or trading strategy. (b) intended to provide accounting, legal, tax advice, investment recommendations or an official statement from AeroCoin (aerocoin.aero). By purchasing an ACN Token, you are agree that you are not purchasing a security or investment, and you agree to hold the team harmless and not responsible for any loss or tax you may incur. No representation or warranty is made, express or implied, regarding the accuracy or completeness of the information or the future performance of any digital asset, financial instrument or other market or economic measure. The GOSKY Token team does not recommend that you should buy, sell or hold any cryptocurrency. Please do your due diligence and consult your qualified financial advisor before making any investment decisions. ACN is a community-driven Decentralized Finance (DeFi) token for social media and is not a registered digital currency, the team strongly recommends that citizens in areas with government bans on cryptocurrencies do not purchase it because the team cannot guarantee compliance with the regulations established within certain territories and is not obliged to provide any type of support or service. Always make sure to comply with local laws and regulations before making any purchase.</p>
            <h3>PRIVACY POLICY & COOKIES POLICY</h3>
            <p>This Privacy Policy establishes the terms in which it uses and protects the information that is provided by its users when using its website. AeroCoin (aerocoin.aero), is committed to the user data security. When we ask you to fill in up fields with personal information which you be identified, we do so ensuring that it will only be used in accordance with the terms of this document. We are committed to protecting your privacy. However, this Privacy Policy may change over time or be updated, so we recommend and emphasize that you continually review this page to ensure that you agree with such changes.</p>
            <h3>Information Collected</h3>
            <p>AeroCoin (aerocoin.aero) may collect personal information such as: name, contact, email, phone number and address. When necessary, specific information may be required to process an order or make a delivery or billing. All confidential information is collected on a secure server.</p>
            <h3>Use of Information Collected</h3>
            <p>AeroCoin (aerocoin.aero) uses the information in order to provide a high standards quality of service as well to maintain a user history including orders record also to improve our products and services. It’s possible that emails will be sent periodically through our site with special offers, new products and other advertising information that we consider relevant to you or that may provide some benefits. These emails will be sent to the address you provide and may be canceled anytime. <br><br>AeroCoin (aerocoin.aero) is highly committed to fulfill the commitment to keep your information safe. We use the most advanced systems and constantly update them to ensure that there is no unauthorized access. We use IP addresses to analyze trends,  our site and servers administration, track access and collect broad demographic information for aggregate use. IP addresses are not linked to personally identifiable information. Personal information about a customer may be included in log files due to the normal functions of IP addresses.</p>
            <h3>Cookies</h3>
            <p>A cookie refers to a file that is sent in order to request permission to be stored on your computer, by accepting is created and the cookie  serves to have information regarding web traffic and also facilitates future visits to a recurrent website. Other cookies  function is that the web can recognize you individually and therefore provide you with the best personalized service.<br><br>AeroCoin (aerocoin.aero) uses cookies to identify the pages that are visited and their frequency. This information is used only for statistical analysis and then the information is permanently deleted. You can delete cookies at any time from your computer. However, cookies help to provide a better service on websites. You do not give access to information from your computer or from you unless you allow it and provide it directly. You may accept or deny the use of cookies, however most browsers automatically accept cookies as it serves to have a better web service. You’re also be able to change your computer settings to decline cookies. If they are declined, you may not be able to use some services.</p>
            <h3>Links to Third Parties</h3>
            <p>AeroCoin (aerocoin.aero) may contain links to other sites that may be of interest to you. Once you click on these links and leave our page, we no longer have control over the site to which you are redirected and therefore we are not responsible for the terms or privacy or the protection of your data on those other third-party sites. These sites are subject to their own privacy policies, so it is recommended that you consult them to confirm that you agree with them.</p>
            <h3>Control of Personal Information</h3>
            <p>You are able to restrict at any time personal information collection or use that been provided to our website. Each time you are asked to fill in a form, such as user registration, you can check or uncheck the option to receive information by email. In case you have marked the option to receive our newsletter or advertising, you can cancel it at any time.<br><br>AeroCoin (aerocoin.aero) will not sell, assign, or distribute any personal information that is collected without your consent, unless required by a judge with a court order.<br><br>AeroCoin (aerocoin.aero) reserves the right to change the terms of this Privacy Policy and Cookie Policy at any time.</p>
        </div>
    </div>
</section>

<section class="py24 inversion">
    <div class="text-center">
        <h2 class="text-white">¡Try AeroCoin today!</h2>
        <span></span>
        <a href="/register24/PYT-24" class="btn btn-outline-light">Register Now</a>
    </div>
</section>

<footer class="py24 webfooter py-3">
    <div class="row justify-content-center m-0">
        <div class="col-12 col-lg-10">
            <div class="row justify-content-center p-0">
                <div class="col-12 col-sm-8 col-lg-4">
                    <h3>Starts now at AeroCoin</h3>
                    <p>It is very simple, your mining equipment is already configured and working.</p>
                </div>
                <div class="col-12 col-sm-8 col-lg-4 my-3 my-lg-0">
                    <h3>Member area</h3>
                    <p>If you don't have an account, sign up for free.</p>
                    <a href="/register24/PYT-24" class="btn btn-outline-primary me-lg-1">Register</a>
                    <a href="/login24/PYT-24" class="btn btn-outline-secondary">Log In</a>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-4">
                    <h3>Follow us</h3>
                    <p>Stay informed about the activities of AeroCoin.</p>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                        <a href="https://twitter.com/AEROCOIN_" target="_blank" class="m-1 m-lg-0 me-lg-1">
                            <img src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-4.png">
                        </a>
                        <a href="https://www.facebook.com/aero_coin" target="_blank" class="m-1">
                            <img src="https://1.bp.blogspot.com/-oIlDs9G4Hh0/X8ueda_RCwI/AAAAAAAAMtY/TCGqSTU-6nweFgD-lhtQRMgmEdxIqQskACLcBGAsYHQ/s852/facebook%2Blogo%2Bpng%2Bsin%2Bfondo%2B%25282%2529.png">
                        </a>
                        <a href="https://www.instagram.com/AEROCOIN/" target="_blank" class="m-1">
                            <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png">
                        </a>
                        <a href="https://t.me/aerocoin" target="_blank" class="m-1">
                            <img src="https://cdn-icons-png.flaticon.com/512/355/355977.png">
                        </a>
                        <a href="https://tiktok.com/@aerocoin" target="_blank" class="m-1">
                            <img src="https://pngimg.com/uploads/tiktok/tiktok_PNG14.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-10 mt-2 mt-lg-3">
            <div class="d-flex flex-wrap justify-content-center">
                <a href="#" class="nav-link m-1">Home</a>
                <a href="#" class="nav-link m-1">Buy Now</a>
                <a href="#" class="nav-link m-1">About Us</a>
                <a href="#" class="nav-link m-1">Road Map</a>
                <a href="#" class="nav-link m-1">Privacy Policy</a>
            </div>
            <hr class="bg-secondary">
        </div>
        <!--<div class="col-12 col-lg-10 mt-2">
            <p class="font-small-3 text-center">La información en este sitio web no conforma oferta alguna de ninguna clase y no debe verse ni considerarse como una oferta para vender o la petición de una oferta para comprar cualquier bien, valor u otro producto financiero. Además la información en este sitio web no cuenta como provisión de consejo inversor.No hay garantía alguna de que cualquier objetivo, valoración, expectativa, estrategia y/o meta expresada o sugerida se cumplirá o que las actividades o rendimientos descritos aquí continuarán de la misma forma que se describe en este sitio web.</p>
        </div>-->
    </div>

</footer>