<nav class="py27 landheader header-navbar navbar-expand-lg navbar navbar-fixed align-items-center navbar-shadow navbar-brand-center py-1" data-nav="brand-center">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center justify-content-between d-lg-none w-100">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link menu-toggle" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu ficon"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item d-flex align-items-center">
                    <a class="navbar-brand text-primary" href="#">
                        <img src="../../../app-assets/images/py27/logo-2.png" class="img-fluid">
                    </a>
                </li>
            </ul>
        </div>

        <ul class="nav navbar-nav d-none d-lg-flex align-items-center">
            <li class="nav-item">
                <a class="navbar-brand text-primary d-flex align-items-center" href="#">
                    <img src="../../../app-assets/images/py27/logo-2.png" class="img-fluid">
                </a>
            </li>
        </ul>

        <ul class="menu nav navbar-nav align-items-center ms-auto d-none d-lg-flex">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Buy Now</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Road Map</a>
            </li>
            <li class="nav-item">
                <a href="/privacy/PYT-24" class="nav-link">Privacy Policy</a>
            </li>
        </ul>
    </div>
</nav>

<div class="horizontal-menu-wrapper d-lg-none py27">
    <div class="main-menu menu-light menu-fixed menu-shadow" role="navigation" data-menu="menu-wrapper" data-menu-type="floating-nav">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item me-auto">
                    <a class="navbar-brand" href="#">
                        <img src="../../../app-assets/images/py27/logo-2.png" class="img-fluid">
                    </a>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x d-block d-xl-none text-primary toggle-icon font-medium-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <!-- Horizontal menu content-->
        <div class="navbar-container main-menu-content ps ps--active-y" data-menu="menu-container">
            <!-- include ../../../includes/mixins-->
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Buy Now</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Road Map</a>
                </li>
                <li class="nav-item">
                    <a href="/privacy/PYT-27" class="nav-link">Privacy Policy</a>
                </li>
            </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 367px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 334px;"></div></div></div>
    </div>
</div>

<section class="py27 banner py-5 mt-5">
    <h2 class="text-white logo text-center">AEROCOIN</h2>
    <h3 class="text-white logo-text text-center">IT`S NOT JUST ABOUT FLY</h3>
    <div class="box">
        <img src="../../../app-assets/images/py27/moneda.png" class="img-fluid mx-auto">
        <div class="d-flex justify-content-center">
            <a href="https://drive.google.com/file/d/1BBX5mXe7Y38HFkWbxUCMd-St4v_XOMXx/view?usp=sharing" target="_blank" class="btn btn-secondary mx-1">White Paper</a>
            <a href="https://cointool.app/ido/exchange?id=236b2476762b717675752b2a267170232a772772272a71242a762b23267570242b2775222b23772675256f2625" target="_blank" class="btn btn-secondary mx-1">Buy Now</a>
        </div>
    </div>
</section>

<section class="py27 acerca">
    <div class="row justify-content-center m-0">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3">
                <img class="card-img-top" src="../../../app-assets/images/py27/private.jpg">
                <div class="card-body">
                    <h4 class="card-title">PRIVATE SALE, BUY NOW!</h4>
                    <p class="card-text">Buy NOW!! Aerocoin (ACN) These is a private and exclusive Sale Event given the privilege to obtain the first Aeronautical token in the market.</p>
                    <a href="" class="btn btn-primary mb-1">TRY IT NOW</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">HOW TO BUY</h4>
                    <p class="card-text">Get the step by step at Aerocoin (ACN) in a fast detailed way. Buy now!</p>
                    <a href="" class="btn btn-outline-secondary mb-1">START BUY</a>
                </div>
                <img class="card-img-bottom" src="../../../app-assets/images/py27/buy.jpg" alt="">
            </div>
        </div>

        <div class="col-md-6 col-xl-4">
            <div class="card mb-3">
                <img class="card-img-top" src="../../../app-assets/images/py27/call.jpg">
                <div class="card-body">
                    <h4 class="card-title">ABOUT US</h4>
                    <p class="card-text">Our Token has been created as a crypto currency open to investors globally through main exchanges pools. Our goal it’s to become a regular payment method in the Aero industry, to support Aeronautical Projects and to be accepted as digital currency in multiple industries around the world.</p>
                    <a href="" class="btn btn-primary mb-1">LEARN MORE</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="py27 pagos roadmap">
    <img src="../../../app-assets/images/py27/aerocoin.png" class="img-fluid d-block mx-auto">
</section>

<section class="py27 pagos">
    <div class="text-center">
        <h2 class="text-white mb-0">BUY NOW</h2>
        <h3 class="text-white">PRIVATE SALE</h3>
        
        <a href="/register27/PYT-27" class="btn btn-secondary">Try it now</a>
    </div>
</section>

<footer class="py27 webfooter py-3">
    <div class="row justify-content-center m-0">
        <div class="col-12 col-lg-10">
            <div class="row justify-content-center p-0">
                <div class="col-12 col-sm-8 col-lg-4">
                    <h3>Starts now at AeroCoin</h3>
                    <p>It is very simple, your mining equipment is already configured and working.</p>
                </div>
                <div class="col-12 col-sm-8 col-lg-4 my-3 my-lg-0">
                    <h3>Member area</h3>
                    <p>If you don't have an account, sign up for free.</p>
                    <a href="/register27/PYT-27" class="btn btn-outline-primary me-lg-1">Register</a>
                    <a href="/login27/PYT-27" class="btn btn-outline-secondary">Log In</a>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-4">
                    <h3>Follow us</h3>
                    <p>Stay informed about the activities of AeroCoin.</p>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                        <a href="https://twitter.com/AEROCOIN_" target="_blank" class="m-1 m-lg-0 me-lg-1">
                            <img src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-4.png">
                        </a>
                        <a href="https://www.facebook.com/aero_coin" target="_blank" class="m-1">
                            <img src="https://1.bp.blogspot.com/-oIlDs9G4Hh0/X8ueda_RCwI/AAAAAAAAMtY/TCGqSTU-6nweFgD-lhtQRMgmEdxIqQskACLcBGAsYHQ/s852/facebook%2Blogo%2Bpng%2Bsin%2Bfondo%2B%25282%2529.png">
                        </a>
                        <a href="https://www.instagram.com/AEROCOIN/" target="_blank" class="m-1">
                            <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png">
                        </a>
                        <a href="https://t.me/aerocoin" target="_blank" class="m-1">
                            <img src="https://cdn-icons-png.flaticon.com/512/355/355977.png">
                        </a>
                        <a href="https://tiktok.com/@aerocoin" target="_blank" class="m-1">
                            <img src="https://pngimg.com/uploads/tiktok/tiktok_PNG14.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-10 mt-2 mt-lg-3">
            <div class="d-flex flex-wrap justify-content-center">
                <a href="#" class="nav-link m-1">Home</a>
                <a href="#" class="nav-link m-1">Buy Now</a>
                <a href="#" class="nav-link m-1">About Us</a>
                <a href="#" class="nav-link m-1">Road Map</a>
                <a href="#" class="nav-link m-1">Privacy Policy</a>
            </div>
            <hr class="bg-secondary">
        </div>
        <!--<div class="col-12 col-lg-10 mt-2">
            <p class="font-small-3 text-center">La información en este sitio web no conforma oferta alguna de ninguna clase y no debe verse ni considerarse como una oferta para vender o la petición de una oferta para comprar cualquier bien, valor u otro producto financiero. Además la información en este sitio web no cuenta como provisión de consejo inversor.No hay garantía alguna de que cualquier objetivo, valoración, expectativa, estrategia y/o meta expresada o sugerida se cumplirá o que las actividades o rendimientos descritos aquí continuarán de la misma forma que se describe en este sitio web.</p>
        </div>-->
    </div>

</footer>