<nav class="py27 es landheader header-navbar navbar-expand-lg navbar navbar-fixed align-items-center navbar-shadow navbar-brand-center py-1" data-nav="brand-center">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center justify-content-between d-lg-none w-100">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link menu-toggle" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu ficon"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand text-primary" href="#">
                        <img src="../../../app-assets/images/py27/nella/logo.png" class="img-fluid">
                    </a>
                </li>
            </ul>
        </div>

        <ul class="nav navbar-nav d-none d-lg-flex align-items-center">
            <li class="nav-item">
                <a class="navbar-brand text-primary d-flex align-items-center" href="#">
                    <img src="../../../app-assets/images/py27/nella/logo.png" class="img-fluid">
                </a>
            </li>
        </ul>

        <ul class="menu nav navbar-nav align-items-center ms-auto d-none d-lg-flex">
            <li class="nav-item">
                <a href="#" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Nosotros</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Comprar Aerocoin</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contactos</a>
            </li>
        </ul>
    </div>
</nav>

<div class="horizontal-menu-wrapper d-lg-none py27 es">
    <div class="main-menu menu-light menu-fixed menu-shadow" role="navigation" data-menu="menu-wrapper" data-menu-type="floating-nav">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item me-auto">
                    <a class="navbar-brand" href="#">
                        <img src="../../../app-assets/images/py27/nella/logo.png" class="img-fluid">
                    </a>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0 text-danger" data-bs-toggle="collapse"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x d-block d-xl-none text-danger toggle-icon font-medium-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <!-- Horizontal menu content-->
        <div class="navbar-container main-menu-content ps ps--active-y" data-menu="menu-container">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="nav-item">
                    <a href="#" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Comprar Aerocoin</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contactos</a>
                </li>
            </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 367px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 334px;"></div></div></div>
    </div>
</div>

<section class="py27 banner es text-center">
    <a href="https://www.amaszonas.com/es-bo/destinos-bo" class="btn btn-danger" target="_blank">Conoce nuestros destinos</a>
</section>

<section class="py27 acerca es">
    <div class="row justify-content-center m-0">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Amaszonas</h4>
                    <img class="img-fluid my-2 rounded-1" src="../../../app-assets/images/py27/nella/amazonas.jpg">
                    <p class="card-text">Ahorra en Amaszonas y compra pasajes aéreos con los mejores precios y en cuotas, destinos en Bolivia y latinoamérica, reserva y paga tus vuelos en línea. </p>
                    <a href="https://www.amaszonas.com/es-bo/" target="_blank" class="btn btn-danger mb-1 card-link">Más Información</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card border-danger mb-3">
                <div class="card-body">
                    <h4 class="card-title">Albatros by Nella</h4>
                    <img class="img-fluid my-2 rounded-1" src="../../../app-assets/images/py27/nella/albatros.jpg">
                    <p class="card-text">Cada vez más cerca de llegar Tan Lejos Como Quieras.</p>
                    <a href="https://albatrosair.aero/" target="_blank" class="btn btn-outline-danger mb-1 card-link">Leer Más</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Nella Airlines</h4>
                    <img class="img-fluid my-2 rounded-1" src="../../../app-assets/images/py27/nella/nella.jpg">
                    <p class="card-text">La aerolínea brasileña Nella operará 239 aviones con apoyo de fondo saudí.</p>
                    <a href="https://nellaairlines.com/" target="_blank" class="btn btn-danger mb-1 card-link">Más Información</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="py27 bolivia">
    <div class="box text-center">
        <img class="img-fluid mx-auto d-block mb-2" src="../../../app-assets/images/py27/nella/logo-2.png">
        <div class="text">
            <h3>HASTA 16 VUELOS DIARIOS</h3>
            <p class="lead">Consulta con tu agencia de viajes favorita </p>
            <a href="https://www.amaszonas.com/es-bo/viaja-con-nosotros-2/reserva-tu-vuelo/busca-tu-vuelo" target="_blank" class="btn btn-danger">Conoce Más</a>
        </div>
    </div>
</section>

<section class="py27 pagos">
    <div class="text-center">
        <h2 class="text-white mb-0">COMPRAR AHORA</h2>
        <h3 class="text-white">Venta Privada</h3>
        <a href="https://cointool.app/ido/exchange?id=236b2476762b717675752b2a267170232a772772272a71242a762b23267570242b2775222b23772675256f2625" target="_blank" class="btn btn-secondary">Ver Más</a>
    </div>
</section>

<section class="py27 compras es">
    <div class="text-center">
        <h2 class="text-white mb-2">¡Compra AEROCOIN AHORA!</h2>
        <h3 class="text-white mb-2">It's not just about fly</h3>
        <a href="https://cointool.app/ido/exchange?id=236b2476762b717675752b2a267170232a772772272a71242a762b23267570242b2775222b23772675256f2625" class="btn btn-outline-light">Venta Privada</a>
    </div>
</section>

<footer class="py27 es webfooter py-3">
    <div class="row justify-content-center m-0">
        <div class="col-12 col-lg-10">
            <div class="row justify-content-center p-0">
                <div class="col-12 col-sm-8 col-lg-4">
                    <h3>Comineza ahora en AeroCoin</h3>
                    <p>Consulta con tu agencia de viajes favorita.</p>
                </div>
                <div class="col-12 col-sm-8 col-lg-4 my-3 my-lg-0">
                    <h3>Area de Miembros</h3>
                    <p>Si no tiene una cuenta, regístrate gratis.</p>
                    <a href="/register27/PYT-27" class="btn btn-outline-danger me-lg-1">Registrarse</a>
                    <a href="/login27/PYT-27" class="btn btn-outline-secondary">Entrar</a>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-4">
                    <h3>Síguenos</h3>
                    <p>Manténgase informado sobre las actividades de AeroCoin.</p>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                        <a href="https://twitter.com/VoeNella" target="_blank" class="m-1 m-lg-0 me-lg-1">
                            <img src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-4.png">
                        </a>
                        <a href="https://www.facebook.com/voenella" target="_blank" class="m-1">
                            <img src="https://1.bp.blogspot.com/-oIlDs9G4Hh0/X8ueda_RCwI/AAAAAAAAMtY/TCGqSTU-6nweFgD-lhtQRMgmEdxIqQskACLcBGAsYHQ/s852/facebook%2Blogo%2Bpng%2Bsin%2Bfondo%2B%25282%2529.png">
                        </a>
                        <a href="https://www.instagram.com/voe_nella/" target="_blank" class="m-1">
                            <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-10 mt-2 mt-lg-3">
            <div class="d-flex flex-wrap justify-content-center">
                <a href="#" class="nav-link m-1">Inicio</a>
                <a href="#" class="nav-link m-1">Nosotros</a>
                <a href="#" class="nav-link m-1">Comprar Aerocoin</a>
                <a href="#" class="nav-link m-1">Contactos</a>
            </div>
            <hr class="bg-danger">
        </div>
        <!--<div class="col-12 col-lg-10 mt-2">
            <p class="font-small-3 text-center">La información en este sitio web no conforma oferta alguna de ninguna clase y no debe verse ni considerarse como una oferta para vender o la petición de una oferta para comprar cualquier bien, valor u otro producto financiero. Además la información en este sitio web no cuenta como provisión de consejo inversor.No hay garantía alguna de que cualquier objetivo, valoración, expectativa, estrategia y/o meta expresada o sugerida se cumplirá o que las actividades o rendimientos descritos aquí continuarán de la misma forma que se describe en este sitio web.</p>
        </div>-->
    </div>

</footer>