<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section class="asistencias">
                <div class="row match-height">
                    <div class="row">
                        <div class="col-12 d-flex mb-1">
                            <a href="#" class="btn btn-primary me-1">Selecionar Grupo</a>
                            <a href="#" class="btn btn-primary">Selecionar Lección</a>
                        </div>
                        
                        <div class="col-12 col-xl-10">
                            <div class="card card-statistics border-success">
                                <div class="card-header">
                                    <h5>Grupo: C21101-1 <span class="ms-1">Lección 2</span></h5>
                                    <div class="d-flex align-items-center">
                                        <span class="bg-secondary rounded-circle d-flex align-items-center justify-content-center p-1">
                                            <input type="checkbox" name="" id="miCheck" class="mb-0 form-check d-none" checked>
                                            <label for="miCheck" role="button"></label>
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex flex-column">
                                                <h1 class="mb-1"><b>Mosqueda Cordova</b></h1>
                                                <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                                                    <div class="box mb-2 mb-md-0 me-md-3">
                                                        <p class="lead mb-1">% de Participación</p>
                                                        <input type="range" name="" id="" value="70" class="range">
                                                    </div>
                                                    <div class="box">
                                                        <div class="d-flex">
                                                            <div class="hour-box me-1">
                                                                <div class="d-flex align-items-center">
                                                                    <i data-feather='clock' class="hour-icon"></i>
                                                                    <p class="lead mb-0">H. Entrada</p>
                                                                </div>
                                                                <input type="text" class="form-control mt-1" placeholder="6:30 PM" value="6:30 PM">
                                                            </div>
                                                            <div class="hour-box">
                                                                <div class="d-flex align-items-center">
                                                                    <i data-feather='clock' class="hour-icon"></i>
                                                                    <p class="lead mb-0">H. Salida</p>
                                                                </div>
                                                                <input type="text" class="form-control mt-1" placeholder="9:00 PM" value="9:00 PM">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-xl-10">
                            <div class="card card-statistics border-secondary">
                                <div class="card-header">
                                    <h5>Grupo: C21101-1 <span class="ms-1">Lección 2</span></h5>
                                    <div class="d-flex align-items-center">
                                        <span class="bg-secondary rounded-circle d-flex align-items-center justify-content-center p-1">
                                            <input type="checkbox" name="" id="miCheck2" class="mb-0 form-check d-none">
                                            <label for="miCheck2" role="button"></label>
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex flex-column">
                                                <h1 class="mb-1"><b>Jose Arzolay</b></h1>
                                                <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                                                    <div class="box mb-2 mb-md-0 me-md-3">
                                                        <p class="lead mb-1">% de Participación</p>
                                                        <input type="range" name="" id="" value="30" class="range disable" disabled>
                                                    </div>
                                                    <div class="box">
                                                        <div class="d-flex">
                                                            <div class="hour-box me-1">
                                                                <div class="d-flex align-items-center">
                                                                    <i data-feather='clock' class="hour-icon"></i>
                                                                    <p class="lead mb-0">H. Entrada</p>
                                                                </div>
                                                                <input type="text" class="form-control mt-1" placeholder="6:30 PM" value="6:30 PM" disabled>
                                                            </div>
                                                            <div class="hour-box">
                                                                <div class="d-flex align-items-center">
                                                                    <i data-feather='clock' class="hour-icon"></i>
                                                                    <p class="lead mb-0">H. Salida</p>
                                                                </div>
                                                                <input type="text" class="form-control mt-1" placeholder="9:00 PM" value="9:00 PM" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-xl-10">
                            <div class="card card-statistics border-success">
                                <div class="card-header">
                                    <h5>Grupo: C21101-1 <span class="ms-1">Lección 2</span></h5>
                                    <div class="d-flex align-items-center">
                                        <span class="bg-secondary rounded-circle d-flex align-items-center justify-content-center p-1">
                                            <input type="checkbox" name="" id="miCheck3" class="mb-0 form-check d-none" checked>
                                            <label for="miCheck3" role="button"></label>
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex flex-column">
                                                <h1 class="mb-1"><b>Borys Lopez</b></h1>
                                                <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                                                    <div class="box mb-2 mb-md-0 me-md-3">
                                                        <p class="lead mb-1">% de Participación</p>
                                                        <input type="range" name="" id="" value="100" class="range">
                                                    </div>
                                                    <div class="box">
                                                        <div class="d-flex">
                                                            <div class="hour-box me-1">
                                                                <div class="d-flex align-items-center">
                                                                    <i data-feather='clock' class="hour-icon"></i>
                                                                    <p class="lead mb-0">H. Entrada</p>
                                                                </div>
                                                                <input type="text" class="form-control mt-1" placeholder="6:30 PM" value="6:30 PM">
                                                            </div>
                                                            <div class="hour-box">
                                                                <div class="d-flex align-items-center">
                                                                    <i data-feather='clock' class="hour-icon"></i>
                                                                    <p class="lead mb-0">H. Salida</p>
                                                                </div>
                                                                <input type="text" class="form-control mt-1" placeholder="9:00 PM" value="9:00 PM">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>