<style>
    .min-height {
        min-height: 165px;
    }

    .mb-tl {
        margin-bottom: 0.5rem !important;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }
    .select2-container--default .select2-selection--single {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        top: 85%;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 22px;
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #CCC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }
</style>

<input type="text" value="{{matricula_st}}" id="matricula_st" />
<div class="app-content content ecommerce-application py672" style="padding-top: 6rem">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="toast-container" id="toast">
                <div class="toast basic-toast position-fixed top-0 end-0 m-2 fade" role="alert">
                    <div class="toast-header">
                        <strong class="me-auto"></strong>
                        <button type="button" class="ms-1 btn-close" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                    </div>
                    <div class="toast-body"></div>
                </div>
            </div>

            <button class="btn btn-outline-primary toast-basic-toggler mt-2 waves-effect d-none" id="btnToast">
                Toast
            </button>

            <section class="row">
                <!-- Checkout Place Order Left starts -->
                <div class="col-12 col-lg-8">
                    <div class="card">
                        <div class="row m-0 mt-1 justify-content-end">
                            <!-- FILTRO -->
                            <div class="col-12" >
                                <!--<label class="form-label" for="fp-default">Alumnos:</label>-->
                                
                                <select class="select2 form-select alumno-select sizeOption" tabindex="-1" name="alumno"
                                    aria-hidden="true" required>
                                    <option value="" selected>
                                        Escriba el nombre de un alumno!
                                    </option>
                                    {{#each matricula as |item i|}}
                                    <option value="{{id}}">
                                        {{nombre}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="modal-body pb-5 px-sm-2 pt-50">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-start px-0">
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="card-body px-0">
                                        <form action="#" class="invoice-repeater">
                                            <div data-repeater-list="invoice">
                                                <div data-repeater-item="">
                                                    <h4 class="card-title">
                                                        Nuevo Pago
                                                    </h4>

                                                    <div id="mContenedor" class="row row-cols-4 d-flex align-items-end">
                                                        <div id="tipoServicio" class="col">
                                                            <div class="mb-1">
                                                                <label class="form-label" for="itemname">
                                                                    Tipo Servicio
                                                                </label>
                                                                <select class="form-select" id="select-servicio">
                                                                    <option>
                                                                        Seleccione
                                                                    </option>
                                                                    <option>
                                                                        Mensualidad
                                                                    </option>
                                                                    <option>
                                                                        Recargo
                                                                    </option>
                                                                    <option>
                                                                        Traslado
                                                                    </option>
                                                                    <option>
                                                                        Constancia
                                                                    </option>
                                                                    <option>
                                                                        Titulo
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="mes" class="col d-none select-reposicion">
                                                            <div class="mb-1">
                                                                <label class="form-label" for="itemquantity">
                                                                    Lección
                                                                </label>
                                                                <select class="form-select" id="select-reposicion">
                                                                    <option>
                                                                        Seleccione
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="nivelAdd" class="col-auto d-none niveladd">
                                                            <div class="mb-1">
                                                                <label class="form-label" for="itemquantity">
                                                                    Nivel
                                                                </label>
                                                                <select class="form-select" id="select-Nivel">
                                                                    <option>Seleccione</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="mes" class="col mensualidadAdd">
                                                            <div class="mb-1">
                                                                <label class="form-label" for="itemquantity">
                                                                    Mes
                                                                </label>
                                                                <select class="form-select" id="select-mes">
                                                                    <option>
                                                                        Seleccione
                                                                    </option>
                                                                    <option>
                                                                        Enero
                                                                    </option>
                                                                    <option>
                                                                        Febrero
                                                                    </option>
                                                                    <option>
                                                                        Marzo
                                                                    </option>
                                                                    <option>
                                                                        Abril
                                                                    </option>
                                                                    <option>
                                                                        Mayo
                                                                    </option>
                                                                    <option>
                                                                        Junio
                                                                    </option>
                                                                    <option>
                                                                        Julio
                                                                    </option>
                                                                    <option>
                                                                        Agosto
                                                                    </option>
                                                                    <option>
                                                                        Septiembre
                                                                    </option>
                                                                    <option>
                                                                        Octubre
                                                                    </option>
                                                                    <option>
                                                                        Noviembre
                                                                    </option>
                                                                    <option>
                                                                        Diciembre
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div id="ano" class="col-auto mensualidadAdd">
                                                            <div class="mb-1">
                                                                <label class="form-label" for="itemquantity">
                                                                    Año
                                                                </label>
                                                                <select class="form-select" id="select-anio">
                                                                    <option>
                                                                        Seleccione
                                                                    </option>
                                                                    <option>
                                                                        2021
                                                                    </option>
                                                                    <option>
                                                                        2022
                                                                    </option>
                                                                    <option>
                                                                        2023
                                                                    </option>
                                                                    <option>
                                                                        2024
                                                                    </option>
                                                                    <option>
                                                                        2025
                                                                    </option>
                                                                    <option>
                                                                        2026
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div id="precio" class="col" style="width: 28%;">
                                                            <div class="mb-1">
                                                                <label class="form-label" for="itemquantity">
                                                                    Precio
                                                                </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-text"
                                                                        id="basic-addon-search1">
                                                                        ₡
                                                                    </span>
                                                                    <input type="number" class="form-control"
                                                                        id="itemPrice" aria-describedby="precio"
                                                                        readonly="true" value="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex justify-content-end">
                                                        <button
                                                            class="btn btn-icon btn-primary waves-effect waves-float waves-light"
                                                            type="button" id="add_pago-btn">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="14"
                                                                height="14" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-plus me-25">
                                                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                                            </svg>
                                                            <span>
                                                                Agregar Pago
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row" id="basic-table">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="table-responsive">
                                                    <table class="table" id="table-pagos">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Concepto
                                                                </th>
                                                                <th>
                                                                    Cuota
                                                                </th>
                                                                <th>
                                                                    Monto
                                                                </th>
                                                                <th>
                                                                    Accion
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="body-table-pago">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-primary waves-effect waves-float waves-light"
                                    id="btn-guardar-pago">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Checkout Place Order Left ends -->

                <!-- Checkout Place Order Right starts -->
                <div class="checkout-options col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" id="nombre-alumno">
                            </h5>
                            <div class="price-details">
                                <ul class="list-unstyled">
                                    <li class="price-detail">
                                        <div class="detail-title">
                                            <b>
                                                Grupo:
                                            </b>

                                            <span id="grupo-alumno"></span>
                                        </div>
                                    </li>
                                    <li class="price-detail">
                                        <div class="detail-title">
                                            <b>
                                                Horario:
                                            </b>

                                            <span id="horario-alumno"></span>
                                        </div>
                                    </li>
                                    <li class="price-detail">
                                        <div class="detail-title">
                                            <b>
                                                Profesor:
                                            </b>

                                            <span id="profesor-alumno"></span>
                                        </div>
                                    </li>
                                    <li class="price-detail">
                                        <div class="detail-title">
                                            <b>
                                                Telefonos:
                                            </b>

                                            <span id="telefonos-alumno"></span>
                                        </div>
                                    </li>
                                    <li class="price-detail">
                                        <div class="detail-title">
                                            <b>
                                                Fecha de Pago:
                                            </b>

                                            <span id="fecha-pago-alumno"></span>
                                        </div>
                                    </li>
                                    <li class="price-detail">
                                        <div class="detail-title">
                                            <b>
                                                Mensualidad:
                                            </b>

                                            <span id="mensualidad-alumno"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <hr />

                            {{! <div class="d-flex align-items-center justify-content-between">
                                <h5 class="m-0">Pagos</h5>
                                <button type="button" class="btn btn-primary waves-effect waves-float waves-light"
                                    data-bs-toggle="modal" data-bs-target="#editUser">Agregar</button>
                            </div>
                            <hr> }}

                            <div class="price-details">
                                <div class="d-grid">
                                    <button type="button"
                                        class="btn btn-primary waves-effect waves-float waves-light"
                                        id="btn-add-commnet" data-bs-toggle="modal" data-bs-target="#comentariosModal"
                                        disabled>
                                        Comentarios
                                    </button>
                                </div>

                                <hr />

                                <div class="price-details d-grid gap-2">
                                    {{! <h6 class="price-title">Detalles de Servicios</h6>
                                    <ul class="list-unstyled" id="detalle-servicios">
                                    </ul>
                                    <hr>

                                    <ul class="list-unstyled">
                                        <li class="price-detail">
                                            <div class="detail-title detail-total">Total</div>
                                            <div class="detail-amt fw-bolder">₡ <span id="total-servicios"></span></div>
                                        </li>
                                    </ul> }}
                                    <button type="button"
                                        class="btn btn-light remove-wishlist waves-effect waves-float waves-light"
                                        disabled id="btn-descarga-titulo">
                                        <span>
                                            Descargar Titulo
                                        </span>
                                    </button>
                                    <button type="button"
                                        class="btn btn-light remove-wishlist waves-effect waves-float waves-light"
                                        disabled id="btn-genera-constancia">
                                        <span>
                                            Generar Constancia
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout Place Order Right ends -->
                    </div>

                    <!-- Timeline (Historial de servicios) comienza aqui -->
                    <div class="col-12">
                        <div class="card card-user-timeline">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-list user-timeline-title-icon">
                                        <line x1="8" y1="6" x2="21" y2="6"></line>
                                        <line x1="8" y1="12" x2="21" y2="12"></line>
                                        <line x1="8" y1="18" x2="21" y2="18"></line>
                                        <line x1="3" y1="6" x2="3.01" y2="6"></line>
                                        <line x1="3" y1="12" x2="3.01" y2="12"></line>
                                        <line x1="3" y1="18" x2="3.01" y2="18"></line>
                                    </svg>
                                    <h4 class="card-title">
                                        Historial de servicios
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="timeline ms-50" id="historial-list">
                                    <!--ESTO SE ESTA CARGANDO DINAMICAMENTE -->
                                </ul>

                                {{! <a class="btn btn-primary w-100 mb-75 waves-effect mt-2"
                                    href="./app-invoice-print.html" target="_blank"> Descargar </a> }}
                            </div>
                        </div>
                    </div>
                    <!-- Timeline (Historial de servicios) termina aqui -->
                </div>
            </section>
            <!--Modal Comentarios-->
            <div class="modal fade" id="comentariosModal" aria-hidden="true" aria-labelledby="comentariosModal"
                tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="addCommentShow" class="modal-title btn btn-primary me-1">
                                Agregar Comentarios
                            </button>
                            <button id="commentAdminShow" class="modal-title btn btn-primary">
                                Ver Comentarios
                            </button>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="accordion accordion-margin" id="accordionMargin" data-toggle-hover="true">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="exampleFormControlTextarea1">
                                            Comentarios Administrador
                                        </label>
                                        <textarea class="form-control addCommentShow" id="addComment" rows="1"
                                            placeholder="Agregar Comentario aqui, se guardara automaticamente al dak click fuera"
                                            data-id="47"></textarea>
                                    </div>
                                </div>
                    <div class="accordion accordion-margin" id="commentAdmin" data-toggle-hover="true">

                            </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Modal Comentarios-->
        </div>
    </div>
</div>

<form id="form-reg-pago" hidden>
</form>

<script>
    function sMensualidad() {
        document.getElementById("mContenedor").classList.replace("row-cols-3", "row-cols-4");
        document.getElementById("precio").classList.replace("col", "col-4");
        document.getElementById("banco").classList.replace("col-6", "col-4");
        document.getElementById("transct").classList.replace("col-6", "col-4");
        document.getElementById("mes").classList.remove("d-none");
        document.getElementById("ano").classList.remove("d-none");
    }
    document.getElementById("botonPrueba").addEventListener("click", holaMensualidad);
</script>