<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section class="row match-height">                 
                <div class="col-6 col-md-4 mb-1">
                    <select name="" id="" class="select2 form-select select2-hidden-accessible">
                        <option value="-">Seleccionar Grupo</option>
                    </select>
                </div>

                <div class="col-6 col-md-4 mb-1">
                    <select name="" id="" class="form-select select2">
                        <option value="-">Seleccionar Lección</option>
                    </select>
                </div>

                
            </section>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>