<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            {{! NOTIFICACION }}
            <div class="toast-container" id="toast">
                <div class="toast basic-toast position-fixed top-0 end-0 m-2 fade" role="alert">
                    <div class="toast-header">
                        <strong class="me-auto"></strong>
                        <button type="button" class="ms-1 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body"></div>
                </div>
            </div>

            <button class="btn btn-outline-primary toast-basic-toggler mt-2 waves-effect d-none" id="btnToast">Toast</button>
            {{! NOTIFICACION END }}
            
            <div class="row match-height">
                <!-- Formulario de grpos -->
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table usuarios" id="usuarios">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 389px;" aria-label="Nombre: activate to sort column ascending">Nombre</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 376px;" aria-label="Email: activate to sort column ascending">Email</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 389px;" aria-label="Nombre: activate to sort column ascending">Telefono</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 376px;" aria-label="Email: activate to sort column ascending">Puesto</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 376px;" aria-label="Email: activate to sort column ascending">Estado</th>                                        
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 148.6px;padding-left: 2.5rem;" aria-label="Acciones">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Fin Formulario de grupos -->
            </div>

            <button class="d-none" data-bs-toggle="modal" data-bs-target="#cambiarPassw" id="btnModalCambiarPassw">safsaf</button>

            <div class="modal fade" id="cambiarPassw">
                <div class="modal-dialog modal-md modal-dialog-centered modal-edit-user">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pb-5 px-sm-5 pt-50">
                            <div class="text-center">
                                <h1 class="mb-1">Cambiar Contraseña</h1>
                            </div>

                            <form class="" method="POST" action="/changePasswordUser">
                                <div class="row">
                                    <div class="col-12 mb-1 d-none">
                                        <input type="text" id="idUser" name="idUser">
                                    </div>
                                    <!--<div class="col-12 mb-1">
                                        <label class="form-label" for="passwordActual">Contraseña Actual</label>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input type="password" name="password" id="passwordActual" class="form-control" placeholder="············">
                                            <span class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                                        </div>
                                    </div>-->
                                    <div class="col-12 mb-1">
                                        <label class="form-label" for="password">Nueva Contraseña</label>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input type="password" name="password" id="password" class="form-control" placeholder="············" required>
                                            <span class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <label class="form-label" for="confirm-password">Confirmar Contraseña</label>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="············" required>
                                            <span class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <input type="submit" value="Actualizar" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
