<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section>
                <div class="row match-height flex-md-row-reverse">

                    <!-- Listado de grpos -->
                    <div class="col-12 col-md-5">
                        <div class="card ">
                            <div class="card-header pb-md-0">
                                    <h4 class="card-title">Crear grupo</h4>
                                    <div class="heading-elements d-md-none">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse"><i data-feather="chevron-down"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p class="card-header pt-1 font-small-2 d-none d-md-block">
                                Si presionas un item a la derecha tambien puedes editarlo acá. . .
                            </p>

                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <form class="form">
                                        <div class="row custom-options-checkable g-1 mb-1">
                                            <div class="col-md-6">
                                                <input class="custom-option-item-check desde0" type="radio" name="customOptionsCheckableRadios" id="customOptionsCheckableRadios1" checked />
                                                <label class="custom-option-item p-1" for="customOptionsCheckableRadios1">
                                                    <span class="d-flex justify-content-between flex-wrap mb-50">
                                                        <span class="fw-bolder">Desde cero</span>
                                                    </span>
                                                    <small class="d-block">1 lección semanal.</small>
                                                </label>
                                            </div>
        
                                            <div class="col-md-6">
                                                <input class="custom-option-item-check intensivo" type="radio" name="customOptionsCheckableRadios" id="customOptionsCheckableRadios2" value="" />
                                                <label class="custom-option-item p-1" for="customOptionsCheckableRadios2">
                                                    <span class="d-flex justify-content-between flex-wrap mb-50">
                                                        <span class="fw-bolder">Intensivo</span>
                                                    </span>
                                                    <small class="d-block">2 lecciones semanales.</small>
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="first-name-column">Día y Horario</label>
                                                    <select class="form-select" name="" id="desde0select">
                                                        <option> Lunes: 6:30pm a 9pm</option>
                                                        <option> Martes: 6:30pm a 9pm</option>
                                                        <option> Miércoles: 6:30pm a 9pm</option>
                                                        <option> Jueves: 6:30pm a 9pm</option>
                                                        <option> Sábado: 8:30am a 11am</option>
                                                    </select>

                                                    <select class="form-select d-none" name="" id="intensivoSelect">
                                                        <option> Lunes y Míercoles: 6:30pm a 9pm</option>
                                                        <option> Martes y Jueves: 6:30pm a 9pm</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 mb-1">
                                                <label class="form-label" for="fp-default">Fecha inicio</label>
                                                <input type="text" id="fp-default" class="form-control flatpickr-basic" placeholder="YYYY-MM-DD" />
                                            </div>
                                        </div>
                                                                                                
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="reset" class="btn btn-primary me-1">Guardar</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--/ Fin Listado de grpos -->

                    <!-- Formulario de grpos -->
                    <div class="col-12 col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Grupos</h4>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="aperturas-tab" data-bs-toggle="tab" href="#aperturas" aria-controls="aperturas" role="tab" aria-selected="true">Aperturas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="desdecero-tab" data-bs-toggle="tab" href="#desdecero" aria-controls="desdecero" role="tab" aria-selected="false">Desde cero</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="intensivo-tab" data-bs-toggle="tab" href="#intensivo" aria-controls="intensivo" role="tab" aria-selected="false">Intensivos</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="aperturas" aria-labelledby="aperturas-tab" role="tabpanel">
                                        <style>
                                            .card-datatable td{
                                                padding-left: 0 !important;
                                            }
                                        </style>
                                        <div class="card-datatable table-responsive pt-0">
                                            <div class=" TipoCurso-grupos"></div>
                                            <table class="user-list-table-Tabla-Aperturas table">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="d-none"></th>
                                                        <th class="d-none">Nombre</th>
                                                        <th class="d-none">current_plan</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="desdecero" aria-labelledby="desdecero-tab" role="tabpanel">
                                        <style>
                                            .user-list-table td{
                                                padding-left: 0;
                                            }
                                        </style>
                                        <div class="card-datatable table-responsive pt-0">
                                            <div class="row">
                                            <div class="col-4 niveles-grupos"></div>
                                            <div class="col-4 profesor-grupos"></div>
                                            <div class="col-4 pagos-grupos"></div>
                                            </div>
                                            <table class="user-list-table-Tabla-DesdeCero table">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="d-none"></th>
                                                        <th class="d-none">Nombre</th>
                                                        <th class="d-none">Role</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        
                                    </div>
                                    <div class="tab-pane" id="intensivo" aria-labelledby="intensivo-tab" role="tabpanel">
                                        En proceso
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Formulario de grpos -->
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    let inputDesde0 = document.querySelector('.desde0'),
    desde0Select = document.getElementById('desde0select'),
    inputIntensivo = document.querySelector('.intensivo'),
    intensivoSelect = document.getElementById('intensivoSelect');

    inputDesde0.addEventListener('change', () => {
        Reset(1);
    });
    inputIntensivo.addEventListener('change', () => {
        Reset(2);
    });
    
    const Reset = (num) => {
        if (num === 1) {
            desde0Select.classList.remove('d-none')
            desde0Select.classList.add('d-block')
            intensivoSelect.classList.remove('d-block')
            intensivoSelect.classList.add('d-none')
        } else {
            intensivoSelect.classList.remove('d-none')
            intensivoSelect.classList.add('d-block')
            desde0Select.classList.remove('d-block')
            desde0Select.classList.add('d-none')
        }
    }
</script>