<div class="app-content content py672">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="row match-height flex-md-row-reverse">

                <input type="text" class="d-none" id="arrayUsuarios" value="{{stringUsuarios}}">
                <!-- Listado de grpos -->
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-header pb-md-0">
                            <h4 class="card-title">Registro de Usuarios</h4>
                            <div class="heading-elements d-md-none">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a data-action="collapse"><i data-feather="chevron-down"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="card-header pt-1 font-small-2 d-none">
                            Ingresé los detalles de la nueva cuenta
                        </p>
                        <div class="card-content collapse show mt-1">
                            <div class="card-body">
                                <div class="row custom-options-checkable g-1 mb-1">
                                    <div class="col-12">
                                        <input class="custom-option-item-check desde0" type="radio" name="customOptionsCheckableRadios" id="customOptionsCheckableRadios1" checked/>
                                        <label class="custom-option-item p-1" for="customOptionsCheckableRadios1" data-bs-toggle="modal" data-bs-target="#registrarUsuario">
                                            <span class="d-flex justify-content-between flex-wrap mb-50">
                                                <span class="fw-bolder">Registrar Usuario</span>
                                            </span>
                                            <small class="text">Ingresé los detalles de la nueva cuenta</small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Fin Listado de grpos -->

                <!-- Formulario de grpos -->
                <div class="col-12 col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="DataTables_Table_0_wrapper" class="">
                                    <table class="datatables-basic table dataTable dtr-column usuarios" id="usuarios">
                                        <thead>
                                            <tr role="row"><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 389px;" aria-label="Nombre: activate to sort column ascending">Nombre</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 376px;" aria-label="Email: activate to sort column ascending">DNI</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 376px;" aria-label="Email: activate to sort column ascending">Email</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 376px;" aria-label="Email: activate to sort column ascending">País</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 376px;" aria-label="Email: activate to sort column ascending">Puesto</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 389px;" aria-label="Nombre: activate to sort column ascending">F. Nacimiento</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 389px;" aria-label="Nombre: activate to sort column ascending">F. Inicio</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 389px;" aria-label="Nombre: activate to sort column ascending">Vendedor</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 124px;" aria-label="Acciones">Acciones</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Mosqueda Cordova</td>
                                                <td>201581105</td>
                                                <td>mosquedac@gmail.com</td>
                                                <td>Chile</td>
                                                <td>
                                                    <span class="badge badge-light-warning">Vendedor</span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-light-primary">1996/07/19</span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-light-primary">22/02/10</span>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="btn btn-sm text-primary"><i data-feather='edit'></i></a>
                                                        <a href="#" class="btn btn-sm ms-1 text-primary"><i data-feather='trash'></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Borys Lopez</td>
                                                <td>26708053</td>
                                                <td>bjlm@gmail.com</td>
                                                <td>Venezuela</td>
                                                <td>
                                                    <span class="badge badge-light-info">Profesor</span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-light-primary">1999/02/23</span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-light-primary">22/04/18</span>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="btn btn-sm text-primary"><i data-feather='edit'></i></a>
                                                        <a href="#" class="btn btn-sm ms-1 text-primary"><i data-feather='trash'></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Isaac Mosqueda</td>
                                                <td>654218486</td>
                                                <td>prueba@gmail.com</td>
                                                <td>Argentina</td>
                                                <td>
                                                    <span class="badge badge-light-warning">Vendedor</span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-light-primary">1994/06/03</span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-light-primary">22/09/02</span>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="btn btn-sm text-primary"><i data-feather='edit'></i></a>
                                                        <a href="#" class="btn btn-sm ms-1 text-primary"><i data-feather='trash'></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>5664511</td>
                                                <td>lorem@gmail.com</td>
                                                <td>Bolivia</td>
                                                <td>
                                                    <span class="badge badge-light-warning">Vendedor</span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-light-primary">1995/04/12</span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-light-primary">22/03/08</span>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="btn btn-sm text-primary"><i data-feather='edit'></i></a>
                                                        <a href="#" class="btn btn-sm ms-1 text-primary"><i data-feather='trash'></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Formulario de grupos -->
            </div>

            <div class="modal fade" id="registrarUsuario">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-edit-user">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pb-5 px-sm-5 pt-50">
                            <div class="text-center mb-2">
                                <h1 class="mb-1">Información de la Cuenta</h1>
                                <p>Ingresé los detalles de la nueva cuenta</p>
                            </div>

                            <form class="" method="POST" action="/reguserpy672">
                                <div class="row">
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="nombre">Nombres</label>
                                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Mosqueda">
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="dni">DNI</label>
                                        <input type="text" name="dni" id="dni" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="mosqueda.cordova@email.com">
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="pais">País</label>
                                        <input type="text" class="form-control" name="pais" id="pais">
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="fechaN">Fecha de Nacimiento</label>
                                        <input type="text" name="fechaN" id="fechaN" class="form-control flatpickr-basic flatpickr-input" readonly="readonly" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="fechaI">Fecha de Inicio</label>
                                        <input type="text" name="fechaI" id="fechaI" class="form-control flatpickr-basic flatpickr-input" readonly="readonly" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="apellidos">Asignar Vendedor</label>
                                        <select name="" id="" class="form-select select2">
                                            <option value="">Seleccione un Vendedor</option>
                                            <option value="">Isaac Mosqueda</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="">Puesto</label>
                                        <select name="puesto" id="" class="form-select select2">
                                            <option value="">Seleccione un Puesto</option>
                                            <option value="Profesor">Profesor</option>
                                            <option value="Vendedor">Vendedor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="password">Contraseña</label>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input type="password" name="password" id="password" class="form-control" placeholder="············">
                                            <span class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label" for="confirm-password">Confirmar Contraseña</label>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="············">
                                            <span class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                    <input type="submit" value="Registrar" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
