<div class="app-content py4 py4app">
    <div class="content-wrapper container-xxxl p-0">
        <div class="content-body home">
            <div class="row pt-1">
                <div class="col-4 position-relative">
                    <span class="badge rounded-pill bg-primary badge-up">6</span>

                    <div class="card bg-cyan shadow-lg btn" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="true" aria-controls="collapse1">
                        <div class="card-body text-center d-flex align-items-center justify-content-center">
                 
                            <!--<h6 class="text-white">A</h6>-->
                            <h2 class="fw-bolder text-white m-0">A</h2>
                        </div>
                    </div>
                </div>

                <div class="col-4 position-relative">
                    <span class="badge rounded-pill bg-primary badge-up">3</span>

                    <div class="card bg-blue btn shadow-lg" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="true" aria-controls="collapse2">
                        <div class="card-body text-center d-flex align-items-center justify-content-center">
                            <!---<h6>B</h6>-->
                            <h2 class="fw-bolder text-white m-0">B</h2>
                        </div>
                    </div>
                </div>

                <div class="col-4 position-relative">
                    <span class="badge rounded-pill bg-primary badge-up">5</span>

                    <div class="card bg-teal btn shadow-lg" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="true" aria-controls="collapse3">
                        <div class="card-body text-center d-flex align-items-center justify-content-center">
                            <!---<h6>B</h6>-->
                            <h2 class="fw-bolder text-white m-0">C</h2>
                        </div>
                    </div>
                </div>

                <div class="col-4 position-relative">
                    <span class="badge rounded-pill bg-primary badge-up">2</span>

                    <div class="card bg-success btn shadow-lg" data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="true" aria-controls="collapse4">
                        <div class="card-body text-center d-flex align-items-center justify-content-center">
                            <!---<h6>B</h6>-->
                            <h2 class="fw-bolder text-white m-0">D</h2>
                        </div>
                    </div>
                </div>

                <div class="col-4 position-relative">
                    <span class="badge rounded-pill bg-primary badge-up">9</span>

                    <div class="card bg-pink btn shadow-lg" data-bs-toggle="collapse" href="#collapse5" role="button" aria-expanded="true" aria-controls="collapse5">
                        <div class="card-body text-center d-flex align-items-center justify-content-center">
                            <!---<h6>B</h6>-->
                            <h2 class="fw-bolder text-white m-0">E</h2>
                        </div>
                    </div>
                </div>

                <div class="col-4 position-relative">
                    <span class="badge rounded-pill bg-primary badge-up">0</span>

                    <div class="card bg-purple btn shadow-lg" data-bs-toggle="collapse" href="#collapse6" role="button" aria-expanded="true" aria-controls="collapse6">
                        <div class="card-body text-center d-flex align-items-center justify-content-center">
                            <!---<h6>B</h6>-->
                            <h2 class="fw-bolder text-white m-0">F</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12"></div>
            <!-- LISTADO POR ZONAS -->
            
            <div class="col-12 collapse card" id="collapse1">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-primary waves-effect" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                        Fullscreen Modal
                    </button>
                    <ul class="list-group list-group-flush list-group-numbered">
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-blue ms-auto">6</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-blue ms-auto">3</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-blue ms-auto">2</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-blue ms-auto">5</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-blue ms-auto">0</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-blue ms-auto">12</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 collapse card" id="collapse2">
                <div class="card-body">
                    <ul class="list-group list-group-flush list-group-numbered">
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-cyan ms-auto">6</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-cyan ms-auto">3</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-cyan ms-auto">2</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-cyan ms-auto">5</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-cyan ms-auto">0</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-cyan ms-auto">12</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 collapse card" id="collapse3">
                <div class="card-body">
                    <ul class="list-group list-group-flush list-group-numbered">
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-teal ms-auto">6</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-teal ms-auto">3</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-teal ms-auto">2</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-teal ms-auto">5</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-teal ms-auto">0</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-teal ms-auto">12</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 collapse card" id="collapse4">
                <div class="card-body">
                   <ul class="list-group list-group-flush list-group-numbered">
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-success ms-auto">6</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-success ms-auto">3</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-success ms-auto">2</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-success ms-auto">5</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-success ms-auto">0</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-success ms-auto">12</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 collapse card" id="collapse5">
                <div class="card-body">
                    <ul class="list-group list-group-flush list-group-numbered">
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-pink ms-auto">6</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-pink ms-auto">3</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-pink ms-auto">2</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-pink ms-auto">5</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-pink ms-auto">0</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-pink ms-auto">12</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 collapse card" id="collapse6">
                <div class="card-body">
                    <ul class="list-group list-group-flush list-group-numbered">
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-purple ms-auto">6</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-purple ms-auto">3</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-purple ms-auto">2</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-purple ms-auto">5</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-purple ms-auto">0</span></li>
                        <li class="list-group-item d-flex align-items-center">Sweet gummi bears gingerbread carrot <span class="badge rounded-pill bg-purple ms-auto">12</span></li>
                    </ul>
                </div>
            </div>

            <div class="modal fade text-start" id="fullscreenModal" tabindex="-1" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel17">Listado de Pedidos</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Direccion</th>
                                        <th>N° Pedido</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                                <div class="fw-bolder">Dixons</div>
                                                <div class="font-small-2 text-muted">meguc@ruj.io</div>
                                        </td>
                                        <td>
                                                <span>Lima Peru</span>
                                        </td>
                                        <td>
                                                #5615
                                        </td>
                                        <td>
                                                <span class="fw-bolder">$891.2</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <div class="fw-bolder">Dixons</div>
                                                <div class="font-small-2 text-muted">meguc@ruj.io</div>
                                        </td>
                                        <td>
                                                <span>Lima Peru</span>
                                        </td>
                                        <td>
                                                #5615
                                        </td>
                                        <td>
                                                <span class="fw-bolder">$891.2</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <div class="fw-bolder">Dixons</div>
                                                <div class="font-small-2 text-muted">meguc@ruj.io</div>
                                        </td>
                                        <td>
                                                <span>Lima Peru</span>
                                        </td>
                                        <td>
                                                #5615
                                        </td>
                                        <td>
                                                <span class="fw-bolder">$891.2</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <div class="fw-bolder">Dixons</div>
                                                <div class="font-small-2 text-muted">meguc@ruj.io</div>
                                        </td>
                                        <td>
                                                <span>Lima Peru</span>
                                        </td>
                                        <td>
                                                #5615
                                        </td>
                                        <td>
                                                <span class="fw-bolder">$891.2</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <div class="fw-bolder">Dixons</div>
                                                <div class="font-small-2 text-muted">meguc@ruj.io</div>
                                        </td>
                                        <td>
                                                <span>Lima Peru</span>
                                        </td>
                                        <td>
                                                #5615
                                        </td>
                                        <td>
                                                <span class="fw-bolder">$891.2</span>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary waves-effect waves-float waves-light" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    let cuadrosBtns = document.querySelectorAll('.home .col-4'),
    infoZonas = document.querySelectorAll('.home .col-12')

    cuadrosBtns.forEach(btn => {
        btn.addEventListener('click', e => {
            infoZonas.forEach(col => {
                col.classList.remove('show')
                col.classList.add('collapsing')
            });
        });
    });
</script>