<html class="loading" lang="en" data-textdirection="ltr">
      <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
          <title>PDF Constancia</title>
          <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
          <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/dark-layout.css">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/bordered-layout.css">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/semi-dark-layout.css">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/horizontal-menu.css">
          <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/app-invoice-print.css">
          <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">  
          <style>
                .fw-bolder {
                    font-weight: 600 !important;
                }
                .bg-primary {
                    background-color: #0833a2 !important;
                }
          </style>
      </head>
      <body class="horizontal-layout horizontal-menu blank-page navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="blank-page">
          <div class="app-content content ">
              <div class="content-overlay"></div>
              <div class="header-navbar-shadow"></div>
              <div class="content-wrapper">
                  <div class="content-header row">
                  </div>
                  <div class="content-body py672">
                        <div class="row">
                            <div class="col-12 mb-1">
                                <img class="img-fluid m-auto d-block" style="max-width: 150px;" src="../../../app-assets/images/py672/logo.png" alt="Academia Americana" title="Academia Americana">
                            </div>
                            <div class="col-12 py-1 text-center d-none">
                                <h3 class="fw-bolder">Comprobante de Matrícula</h2>
                            </div>
                            <div class="col-12 py-1 text-center">
                                <hr>
                                <h3 class="fw-bolder">Nombre Del Estudiante:</h2>
                                <h3 class="fw-bolder">JUAN PABLO SEGUNDO GARCIA</h3>
                                <p class="lead fw-bolder">Identificación: 2356615465</p>
                                <hr>
                            </div>
                            <div class="col-12">
                                <div class="row py-1 justify-content-center">
                                    <div class="col-12">
                                        <p class="lead fw-bolder text-center">Grupo: I22101-1</p>
                                    </div>
                                    <div class="col-2 text-center fw-bolder">INICIO</div>
                                    <div class="col-2 text-center fw-bolder">DÍAS</div>
                                    <div class="col-3 col-lg-2 text-center fw-bolder">HORARIO</div>
                                    <div class="col-3 col-lg-2 text-center fw-bolder">FECHAS DE PAGO</div>
                                    <div class="col-2 text-center fw-bolder">MONTO</div>

                                    <div class="col-12"></div>

                                    <div class="col-2 text-center">15/01/2022</div>
                                    <div class="col-2 text-center">SABADO</div>
                                    <div class="col-3 col-lg-2 text-center">08:30 am a 11:am</div>
                                    <div class="col-3 col-lg-2 text-center">15 DE CADA MES</div>
                                    <div class="col-2 text-center">17 000</div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-12 py-1 text-white text-center d-none">
                                <h3 class="fw-bolder">RECARGO POR MORA: 1.000</h3>
                            </div>
                        </div>
                  
                  </div>
              </div>
        </div>
        <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
        <script src="../../../app-assets/vendors/js/ui/jquery.sticky.js"></script>
        <script src="../../../app-assets/js/core/app-menu.js"></script>
        <script src="../../../app-assets/js/core/app.js"></script>
        <script src="../../../app-assets/js/scripts/pages/app-invoice-print.js"></script>
    </body>
</html>