<div class="app-content content py27">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="px-2 email">
                <div class="auth-inner my-2">
                    <div class="row p-0 justify-content-center align-items-center vh-100">
                      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 card">
                          <div class="card-body">
                              <h3 class="text-primary">AEROCOIN<br> IT`S NOT JUST ABOUT FLY</h3>
                              
                              <h2 class="card-title fw-bolder my-1">You´ve received XXXX ACN in your Wallet account </h2>
                              <p class="card-text">If you don´t recognize this activity , please contact us inmmediately at: <a href="https://www.aerocoin.aero/suppor" class="text-primary">https://www.aerocoin.aero/support</a>.<br> Aerocoin Team.</p>

                              <p class="text-center mt-2">
                                <span>This is an automated message, please do not reply</span>
                              </p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>