<div class="py27">
  <div class="auth-wrapper auth-v2">
    <div class="row auth-inner m-0">
      <a href="/py27/PYT-27" target="_self" class="brand-logo py-2 d-lg-none">
          <img src="../../../app-assets/images/py27/logo-2.png" class="img-fluid">
      </a>
      <div class="d-none d-lg-flex flex-column px-5 pb-5 py-3 col-lg-8">
        <a href="/py27/PYT-27" target="_self" class="brand-logo">
            <img src="../../../app-assets/images/py27/logo-2.png" class="img-fluid">
        </a>
        <h2 class="logo text-center mt-3 mt-xl-2 text-primary">AEROCOIN</h2>
        <h3 class="logo-text text-center text-primary">IT`S NOT JUST ABOUT FLY</h3>
        <img class="img-fluid auth-img mx-auto" src="../../../app-assets/images/py27/moneda.png">
      </div>

        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                <h2 class="card-title text-primary fw-bolder mb-1">Email Verification</h2>
                <p class="card-text mb-75">Enter the email where we will send the validation code of your account below</p>
                <form class="mt-2" action="/resendemailverifypy27" method="POST">
                    <h6>Enter your email</h6>
                    <div class="auth-input-wrapper d-flex align-items-center justify-content-between mb-1">
                      <input type="email" class="form-control" name="email" required>
                    </div>
                    <button class="btn btn-outline-primary w-100 waves-effect waves-float waves-light" type="submit" tabindex="4">Verify my account</button>
                </form>
                <p class="text-center mt-2"><a href="/login27/PYT-27" class="text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg> Back to login</a></p>
            </div>
        </div>
    </div>
  </div>
</div>