<div class="app-content content py27">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="px-2 email">
                <div class="auth-inner my-2">
                    <div class="row p-0 justify-content-center align-items-center vh-100">
                      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 card">
                          <div class="card-body">
                                <h3 class="text-primary">AEROCOIN<br> IT`S NOT JUST ABOUT FLY</h3>
                                <h2 class="card-title fw-bolder my-1">¡Dear user!</h2>
                                <p class="card-text text-pr">We have sent a verification link to the email: <span class="text-primary">{{userEmail}}</span>.<br>Please make sure to complete your registration process to start enjoying our services.<br><br> Aerocoin Team.</p>
                                <p class="text-center mt-2">
                                    <span>This is an automated message, please do not reply</span>
                                </p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>