<div class="py27">
  <div class="auth-wrapper auth-v2">
    <div class="row auth-inner m-0">
      <a href="/py27/PYT-27" target="_self" class="brand-logo py-2 d-lg-none">
          <img src="../../../app-assets/images/py27/logo-2.png" class="img-fluid">
      </a>
      <div class="d-none d-lg-flex flex-column px-5 pb-5 py-3 col-lg-8">
        <a href="/py27/PYT-27" target="_self" class="brand-logo">
            <img src="../../../app-assets/images/py27/logo-2.png" class="img-fluid">
        </a>
        <h2 class="logo text-center mt-3 mt-xl-2 text-primary">AEROCOIN</h2>
        <h3 class="logo-text text-center text-primary">IT`S NOT JUST ABOUT FLY</h3>
        <img class="img-fluid auth-img mx-auto" src="../../../app-assets/images/py27/moneda.png">
      </div>
      <div class="d-flex align-items-center auth-bg px-2 p-lg-5 col-lg-4 py-3 py-lg-4 vh-100">
        <div class="px-xl-2 mx-auto col-sm-8 col-md-6 col-lg-12">
          <h2 class="logo d-lg-none text-primary">AEROCOIN</h2>
          <h3 class="logo-text d-lg-none text-primary">IT`S NOT JUST ABOUT FLY</h3>
          <h2 class="card-title font-weight-bold mb-1 text-primary">The adventure starts here</h2>
          <p class="card-text mb-2">¡Make managing your app easy and fun!</p> 

            <form class="auth-login-form mt-2" action="/reguserpy27" method="POST">
                <div class="mb-1">
                    <label class="form-label" for="">Username</label>
                    <input class="form-control" id="username" type="text" name="username" placeholder="Username" autofocus required>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="text" name="email" placeholder="Email" required>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">First Name</label>
                    <input class="form-control" id="" type="text" name="fname" placeholder="First Name" required>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">Last Name</label>
                    <input class="form-control" id="" type="text" name="lname" placeholder="Last Name" required>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">Date of Birth</label>
                    <input type="date" name="bdate" id="fp-default" class="form-control flatpickr-basic flatpickr-input" required />
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">Gender</label>
                    <select name="gender" class="form-select" required>
                      <option value=""></option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">Document Type</label>
                    <select name="dtype" class="form-select" required>
                      <option value=""></option>
                       <option value="DRIVER'S LICENSE">DRIVER'S LICENSE</option>
                      <option value="PASAPORT">PASAPORT</option>
                      <option value="DNI">DNI</option>
                    </select>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">Document Number</label>
                    <input type="text" class="form-control" name="numdoc" placeholder="Document Number" required>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">Nationality</label>
                    <select name="nationality" id="nacionalidad" class="form-select" required>
                      <option></option>
                    </select>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">Country</label>
                    <input type="text" class="form-control" name="country" placeholder="Country of residence" required>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">City</label>
                    <input type="text" class="form-control" name="city" placeholder="City" required>
                </div>
                <div class="mb-1">
                  
                  <label class="form-label" for="">Phone</label>                   
                  <div class="row p-0">
                    <div class="col-4">
                       <div class="btn-group">
                          <button type="button" class="btn btn-outline-secondary btn-flags">
                            <img src="https://flagcdn.com/w320/um.png" class="img-fluid p-0" id="flag">
                          </button>
                          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split waves-effect" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="visually-hidden">Toggle Dropdown</span>
                          </button>
                          {{!--- BANDERAS ---}}
                          <div class="dropdown-menu dropdown-menu-end" id="drop">
                          </div>
                        </div>
                    </div>
                     <div class="col-8">
                        <input type="text" id="phone" class="form-control" name="phone" value="+246" placeholder="Phone" required>
                     </div>
                </div>
              
                </div>
                <div class="mb-1">
                    <label class="form-label" for="">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Address" required>
                </div>
                <div class="mb-1">
                    <div class="d-flex justify-content-between">
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <div class="input-group input-group-merge form-password-toggle">
                        <input class="form-control form-control-merge" id="password" type="password" name="password" placeholder="············" required><span class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye font-small-4"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                    </div>
                </div>
                <div class="mb-1">
                  
                    <div class="form-check form-check-primary">
                        <input class="form-check-input" id="remember-me" type="checkbox" tabindex="16">
                        <label class="form-check-label" for="remember-me"> I agree with <a href="/privacy/PYT-27" target="_blank" class="text-primary">privacy policy and terms.</a></label>
                    </div>
                </div>
                <button id="boton" class="btn btn-outline-primary w-100 waves-effect waves-float waves-light mt-1 " disabled >Register Now</button>
            </form>
          </span>
          <p class="text-center mt-2"><span>¿Do you already have an account?</span><a href="/login27/PYT-27" target="_self"><span class="text-primary">&nbsp; Sign in instead</span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
document.getElementById('remember-me').onclick = function() {
  document.getElementById('boton').toggleAttribute('disabled')
}
document.getElementById('nacionalidad').onchange = function() {
 var prefijo = document.getElementById('nacionalidad').value;
 console.log(prefijo);
 if(prefijo=='VE'){
      alert('setear el select del prefijo internacional de venezuela +58');
 }
}
</script>

<script>
  let currentFlag = document.getElementById('flag'),
  lista = document.getElementById('drop'),
  nacionalidad = document.getElementById('nacionalidad'),
  fragment1 = new DocumentFragment(),
  fragment2 = new DocumentFragment(),
  input = document.getElementById('phone');

  fetch('https://restcountries.com/v2/all')
  .then(response => response.json())
  .then(data => {
    console.log(data)
    data.forEach(item => {
      let a = document.createElement('a'),
      option = document.createElement('option');
      a.innerHTML = `
        <img src="${item.flags.png}" class="img-fluid p-0 me-1">
        <span>${item.name} - +${item.callingCodes[0]}</span>
      `;
      a.classList.add('dropdown-item', 'd-flex', 'align-items-center');
      a.setAttribute('data-flag', item.flags.png)
      a.setAttribute('data-titulo', item.name)
      a.setAttribute('data-code', item.callingCodes[0]);
      option.setAttribute('value', item.name)
      option.innerText = item.name;

      fragment1.appendChild(a);
      fragment2.appendChild(option);
    });

    lista.appendChild(fragment1);
    nacionalidad.appendChild(fragment2);
  });

  drop.addEventListener('click', e => {
    currentFlag.src = e.target.getAttribute('data-flag');
    if(e.target.getAttribute('data-code')) {
      input.value = '+'+e.target.getAttribute('data-code');
    }
  });
</script>